[2020-03-06 18:57] richardliaw opened #2 "Use `ray.put` for shared memory"
Right now, we do N transfers of the same data object. It would be nice to avoid doing that by using the shared memory object store via `ray.put`

[code]

[2020-03-27 08:12] anthonyhsyu commented on #2
Closed in a previous commit. In the future we will take note and close this via commit.

[2020-03-27 08:12] #2 closed

[2020-03-27 08:21] anthonyhsyu opened #5 "Pickling with PyTorch Module"
When using `TuneGridSearchCV` with a `torch.nn.Module`, the interface is able to fit, but during fitting if Tune decides to make a checkpoint via pickling, trials cannot complete due to a `PicklingError`. See [examples/torch_nn.py](https://github.com/ray-project/tune-sklearn/blob/master/examples/torch_nn.py) for an example of how this is done.

The class (Module) is dynamically created in Tune, wh

[2020-04-10 08:58] anthonyhsyu opened #10 "RandomizedSearch Parameter Lineup"
When testing `XGBClassifier` examples, randomized search seems to have trouble lining up the correct sampled parameter value to the corresponding parameter. For example:
[code]

Will run into the issue:
[code]

Interestingly, reordering the parameters will change the error. Removing the `max_depth` parameter allows it to work, but adding other parameters like `n_estimators` into the dictionary als

[2020-04-10 09:22] #5 closed

[2020-04-10 17:52] richardliaw opened #12 "Use setuptools for better pip compatibility"
`from setuptools import setup`

[2020-04-17 09:38] #10 closed

[2020-04-17 10:19] anthonyhsyu commented on #12
Fixed by #13

[2020-04-17 10:19] #12 closed

[2020-04-23 00:35] anthonyhsyu opened #17 "List of Dictionaries for Grid/Randomized Search"
List of dictionaries not supported for `TuneGridSearchCV`/`TuneRandomizedSearchCV`, which caused the error to occur in the pipeline example added in #14, not because we couldn't support parameters for `Pipeline`s. We are able to support `Pipeline`s as shown in #14.

[2020-04-24 18:05] inventormc opened #18 "Support Bayesian Search"
https://scikit-optimize.github.io/stable/modules/generated/skopt.BayesSearchCV.html

Currently, tune-sklearn can only do randomized search for distributions, but it'd be nice to support bayesian search over hyperparameters.

`TuneSearchCV(clf, param_dict, scheduler="asha", optimizer={"bayesian" or "random"}, n_jobs=-1)`

[2020-04-24 18:14] inventormc opened #19 "Benchmarking"
tune-sklearn's fit times don't scale linearly with training data size, while other libraries and sklearn itself do. tune-sklearn appears to slow down a lot with a bigger size, but this may be due to resources being hogged by other processes on the machine that we tested on. Should try to rerun benchmarking on a machine not being used by other processes to get an accurate idea of fit times.

[2020-05-01 07:09] anthonyhsyu opened #20 "cv_results lineup issue"
In running more experiments, we discovered the results from tune_sklearn and sklearn do not line up. The params printed out are in the correct order, but the results shown in the scores do not correspond

[2020-05-01 08:42] anthonyhsyu commented on #20
False alarm, was fixed in #9

[2020-05-01 08:42] #20 closed

[2020-05-01 08:46] anthonyhsyu commented on #19
Running on a free machine was definitely helpful, but instead we discovered that early stopping and non-early stopping didn't run differently. This may be due to #11 where early stopping is activated whether the estimator supports early stopping or not, although we don't seem to find evidence that FIFO early stops, and it performs similarly or even better than MedianStoppingRule. It's possible tha

[2020-05-01 08:47] anthonyhsyu commented on #17
Issue raised in https://github.com/ray-project/ray/issues/8171

[2020-05-01 18:02] richardliaw opened #22 "`early_stop` instead of `scheduler`"
And maybe you can do `early_stop=True`

[2020-05-01 18:02] richardliaw commented on #19
Make sure we check accuracy

[2020-05-01 18:03] richardliaw commented on #22
early_stopping_max_epochs => max_iter

[2020-05-08 04:15] anthonyhsyu commented on #18
Added in #21

[2020-05-08 04:15] #18 closed

[2020-05-09 00:16] anthonyhsyu commented on #19
These are confirmed to be accurate and have been compared to Dask. Even with significant speed up in fit times from Tune via early stopping, it is able to correctly align good and bad hyperparameter configurations.

Below is a plot detailing the average test set score. We want the blue and orange bars for each configuration (along the x-axis) to be of equal height, or if it is a bad parameter, bot

[2020-05-09 00:16] #19 closed

[2020-05-18 17:34] #22 closed

[2020-06-15 22:26] anthonyhsyu commented on #17
Resolved in #25

[2020-06-15 22:26] #17 closed

[2020-06-23 03:39] richardliaw opened #31 "GPU support"
Is it easy to enable GPU support in tune-sklearn for examples such as sklearn or xgboost?

[2020-06-30 07:57] inventormc commented on #31
#34 gpu support has been added

[2020-06-30 07:57] inventormc commented on #31
#34

[2020-07-04 22:40] inventormc commented on #31
#34

[2020-07-04 22:40] #31 closed

[2020-07-18 19:08] echavezh opened #48 "TuneError. Any idea?"
I'm getting an error as soon as I try calling the fit method:

[code]

[2020-07-18 22:55] inventormc commented on #48
Can you post the code you ran as well?

[2020-07-18 23:50] echavezh commented on #48
Sure, I basically just copied what was posted on Reddit's post. X and y is a simple numpy array:

[code]

[2020-07-19 01:05] anthonyhsyu commented on #48
Hi @echavezh, thanks for posting the issue! There are a couple things that could be causing problems, and fixing these should let it fit properly!

1. Your `create_model` function is missing a parameter for `kernel_initializer` which you provided in `param_grid`, so when it's fitting it can't find a way to pass in the `kernel_initializer` parameter you wanted to tune. It looks like you wanted to p

[2020-07-19 01:37] anthonyhsyu commented on #48
For example, you could do:
[code]

[2020-07-20 17:46] MislavSag opened #50 "Error messages when running random forest example"
I have just tried to run your example script for random forest (https://github.com/ray-project/tune-sklearn/blob/master/examples/random_forest.py).

When I run it, I am getting following errors/warnings:
[code]
It returns the result, but I am not sure what those error messages mean?

[2020-07-21 06:43] MislavSag opened #51 "TuneError: Insufficient cluster resources to launch trial: trial requested"
I have just tried `TuneSearchCV` function with `search_optimization='bayesian'` option:
[code]
I get the following output:

[code]

[2020-07-21 23:04] richardliaw commented on #50
I think those are harmless errors, but we should do a better job of hiding them. You can hide them in your application for now by calling the following at the top of your script:

[code]

[2020-07-21 23:08] richardliaw commented on #51
Thanks for opening this issue! This is a bug on our side and we will fix this ASAP.

I think the fix right now is just to do n_jobs=None.

[2020-07-22 06:36] MislavSag commented on #50
Ok, than. If they are harmless, it can be closed.

[2020-07-22 06:36] #50 closed

[2020-07-22 20:17] sumanthratna opened #53 "For evaluating multiple scores, use sklearn.model_selection.cross_validate instead"
# Reproducible Example

[code]
results in:
[code]

# Environment
- ray 0.8.6
- sklearn 0.23.1
- skopt 0.7.4
- scipy 1.5.1
- python 3.8.2

[2020-07-23 00:55] richardliaw commented on #51
BTW @MislavSag is this possible to reproduce on colab?

[2020-07-23 01:11] richardliaw commented on #53
BTW @sumanthratna does this happen if you swap out with RandomizedSearchCV?

[2020-07-23 01:47] inventormc commented on #53
Hi @sumanthratna, we don't currently support multimetric scoring, but we're looking into adding this functionality! For now, this should work if you just put one scorer.

[2020-07-23 12:48] MislavSag commented on #51
Don't have time right now, I am going to vacation tomorrow. Maybe in 2 weeks if that's not too late.

[2020-07-23 17:53] sumanthratna commented on #53
Yup:
[code]

It looks like the docstring for the `scoring` argument in `TuneSearchCV` was copied from that of in `RandomizedSearchCV`

https://github.com/ray-project/tune-sklearn/blob/5e8db24724b99c16b660dbdb0f3f54bfa1ecfb81/tune_sklearn/tune_search.py#L83-L92

It might help to remove the reference to multiple metrics. I can open a PR for this if that'd help.

[2020-07-23 18:19] rohan-gt opened #54 "[Request] Add examples for deploying on AWS spot instances"
Is it possible to deploy tune-sklearn on AWS Spot instances similar to [this](https://docs.ray.io/en/master/tune/tutorials/tune-distributed.html?highlight=spot%20instances#example-for-using-spot-instances-aws)? If so some code examples for the same would be useful

[2020-07-23 21:46] TiesdeKok opened #55 "Pass local_dir parameter to search functions"
**Problem:** It doesn't appear possible to pass the `local_dir` parameter to the search functions in `tune-sklearn`. This causes the temporary files to be created in the default directory, which in my case is problematic due to file size/count constraints on my home directory.

**Proposed solution:** Allow the `local_dir` parameter to be passed to the functions, for example:

[code]

There might b

[2020-07-23 22:56] inventormc commented on #55
Hey @TiesdeKok, thanks for reaching out! We don't currently have this implemented but we'll look into adding this.

[2020-07-24 00:19] richardliaw commented on #54
Great question :) It is entirely possible to deploy tune-sklearn on spot instances as you would do in standard Ray code.

We can put together a full example later (or simply add it to the tune documentation). I think failure handling should work out of the box.

In your script:

[code]
and
[code]

[2020-07-24 00:22] richardliaw commented on #51
No problem @MislavSag; enjoy your vacation and stay safe!

[2020-07-24 00:26] inventormc commented on #53
You're more than welcome to open a PR. We'll be happy to take a look :)

[2020-07-24 02:15] TiesdeKok commented on #55
Awesome, thanks a lot. Great package!

[2020-07-24 05:13] rohan-gt commented on #54
Ah amazing!

[2020-07-24 05:19] rohan-gt commented on #54
Reopened the issue for the full example. I'm still not completely sure how checkpointing and fault tolerance would be implemented using the tune-sklearn API

[2020-07-24 05:48] rohan-gt opened #58 "[Feature request] Early stopping doesn't work with XGBoost, LightGBM or CatBoost"
I'm getting the following error while setting `early_stopping=True`

    ValueError: Early stopping is not supported because the estimator does not have `partial_fit`

These could be a potential fixes:
1. XGBoost: https://github.com/dmlc/xgboost/issues/1686
2. LightGBM: https://github.com/microsoft/LightGBM/issues/2718
3. CatBoost: https://github.com/catboost/catboost/issues/464

[2020-07-24 07:07] richardliaw commented on #54
ah, I think tune-sklearn actually automatically should handle that for you.

[2020-07-24 07:14] richardliaw commented on #54
Will keep this issue open to make sure we write up a full example though!

[2020-07-24 13:43] rohan-gt opened #59 "[Bug] GPU not utilized"
Tried running the following code on a Colab with the GPU enabled but I get a message saying `Warning: you are connected to a GPU runtime, but not utilizing the GPU.`

[code]

[2020-07-25 03:12] inventormc commented on #59
Hey @rohan-gt thanks for reaching out. This is a bug on our part; I'll let you know when our fix is pushed. The GPU support should work for grid search though.

[2020-07-25 22:18] richardliaw commented on #58
Yeah, that's a good point. I think we'll probably want to special-case a training call for xgboost, lightgbm as they have a different way of doing early stopping..

[2020-07-26 05:00] inventormc commented on #48
Looks like this is fixed now. Going to close the issue for now

[2020-07-26 05:00] #48 closed

[2020-07-26 21:15] #59 closed

[2020-07-28 02:19] #55 closed

[2020-07-28 18:16] #53 closed

[2020-08-07 16:52] 1fornothin opened #64 "TuneGridSearchCV.fit(X, Y) would not run"
Hi I am using TuneGridSearchCV.fit below as example and are getting the following error.

X, y = make_classification(n_samples=11000, n_features=1000, n_informative=50,
                           n_redundant=0, n_classes=10, class_sep=2.5)

TuneGridSearchCV.fit(X, y)

TuneGridSearchCV.fit(X, y)
Traceback (most recent call last):

  File "<ipython-input-11-b4425021dbf1>", line 1, in <module>
    Tu

[2020-08-08 08:18] inventormc commented on #64
Hi thanks for reaching out! Did you call `fit` as you showed in your short example above? If so, you need to instantiate TuneGridSearchCV to call fit, not just use the name of the class. Here's what that would look like:

[code]

Check out other examples [here](https://github.com/ray-project/tune-sklearn/tree/master/examples) for reference.

[2020-08-10 16:26] 1fornothin commented on #64
Yes sorry misread... I am now getting the following error when I run the example, what do the below mean?

Log sync requires rsync to be installed.
Log sync requires rsync to be installed.
Log sync requires rsync to be installed.
Log sync requires rsync to be installed.
Log sync requires rsync to be installed.
Log sync requires rsync to be installed.
The dashboard on node L2ZXC01L0 failed with the

[2020-08-11 08:18] inventormc commented on #64
This might be a windows issue. Can you post the script you ran as well?

[2020-08-11 11:01] rohan-gt opened #65 "[Enhancement] Smart error handling and hyperparameter resampling"
I'm trying out Bayesian optimization but the tuning errors out whenever an incompatible combination of hyperparameters occur. For example if I provide the following `param_diststributions` for `LogisticRegression`:

1. penalty: [‘l1’, ‘l2’, ‘elasticnet’]
2. solver: [‘newton-cg’, ‘lbfgs’, ‘liblinear’, ‘sag’, ‘saga’]

it throws an error because `elasticnet` is only supported by the `saga` solver and

[2020-08-11 16:00] 1fornothin commented on #64
yes, I used the example posted on github.

from tune_sklearn import TuneGridSearchCV

# Other imports
import os
import numpy as np
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDClassifier

# Set training and validation sets
X, y = make_classification(n_samples=11000, n_features=1000, n_informative=50, n_red

[2020-08-12 10:53] rohan-gt opened #66 "[Bug] Setting 'auto_class_weights' parameter fails with CatBoostClassifier"
Tuning `CatBoostClassfier` setting `auto_class_weights` within `[None, 'Balanced', 'SqrtBalanced']` throws the following error:

[code]

[2020-08-13 01:15] richardliaw commented on #64
The `FileNotFoundError: [Errno 2] Dashboard build directory not found.` is non-fatal. I understand that the script you posted outputs a "Dashboard" message, but does it run until completion? Or are there other failure messages that arise?

[2020-08-13 01:16] richardliaw commented on #66
Can you post the full reproducible script?

Thanks!

[2020-08-13 01:17] richardliaw commented on #65
Thanks for opening this @rohan-gt! Would it be OK if we proceeded with tuning without resampling?

[2020-08-13 05:26] rohan-gt commented on #65
@richardliaw in TuneSearchCV, `n_iter` is the total number of trials and `max_iters` the early stopping for the same right? Without resampling won't the trails reduce drastically especially in a case like if 7/10 or even 10/10 cases error out?

[2020-08-13 05:41] rohan-gt commented on #66
Code:

[code]

Complete error log:
[code]

Also is there a way to enable GPU tuning with CatBoost?

[2020-08-13 06:47] rohan-gt opened #67 "[Bug] Tuning CatBoost with GPU fails on Google Colab"
Running the following code on Google Colab with a GPU hardware accelerator:

[code]

throws the following error:

[code]

while running it normally works fine:

[code]

[2020-08-13 07:32] rohan-gt commented on #67
Actually never mind setting `use_gpu=True` in `TuneSearchCV` fixed it. This is actually related to [this](https://github.com/ray-project/tune-sklearn/issues/59) issue. I think it should be mentioned in the [documentation](https://docs.ray.io/en/master/tune/api_docs/sklearn.html?highlight=TuneSearchCV#ray.tune.sklearn.TuneSearchCV) that GPU has to be enabled within the model also eg. `CatBoostClass

[2020-08-13 23:12] 1fornothin commented on #64
It looks like it is running when I set n_job to a low number, but when I increase it to around 5 cpu I get the following error: why is that happening?

tune_search.fit(data.X_train.values, np.ravel(data.y_train))
Log sync requires rsync to be installed.
Trial _Trainable_3dba8_00000: Unexpected error starting runner.
Traceback (most recent call last):
  File "C:\Users\l2zxc01\AppData\Local\Programs

[2020-08-13 23:56] richardliaw commented on #65
Hmm... right. Would conditional search spaces (like HyperOpt or Optuna) work for you?

[2020-08-14 08:53] rohan-gt commented on #65
@richardliaw Yes that could actually work

[2020-08-16 19:29] richardliaw commented on #65
IIRC Tree-Parzen Estimators (which is the algorithm that optuna implements) shouldn't be much different to standard Bayesian Optimization (that skopt provides).

[2020-08-16 19:31] richardliaw commented on #64
Ah, I think this is just a bug on our end. Can you try setting it to an integer factor of your total CPU? We will fix this in the upcoming week.

[2020-08-17 10:58] rohan-gt commented on #65
Yes but scikit-optimize isn't an active project and throws errors with the latest scikt-learn

[2020-08-19 22:46] rohan-gt opened #70 "[Bug] ConfigurationSpace throws error with BOHB"
Passing a `ConfigurationSpace` after setting `search_optimization='bohb'` in `TuneSearchCV` throws the following error:

[code]

[2020-08-19 22:51] UTUnex opened #71 "ValueError: Search optimization must be random or bayesian"
Hi, I just tried to run the newly added example as follows and got this error; my system is windows 10 64 bit, please help.

Example code:

from tune_sklearn import TuneSearchCV
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

digits = datasets.load_digits()
X = digits.data
y = digits.target

X_train, X_test, y_t

[2020-08-19 22:55] UTUnex commented on #71
I have tried other newly added examples and all throw this error. I'm sure I have installed all the required packages. Is this problem of windows or something else ?

[2020-08-20 03:28] richardliaw commented on #71
Did you try installing from source?

[code]

[2020-08-20 08:39] UTUnex commented on #71
Well, another error occurs:
code:
from tune_sklearn import TuneSearchCV
from sklearn import datasets
from sklearn.model_selection import train_test_split
from sklearn.ensemble import RandomForestClassifier

digits = datasets.load_digits()
X = digits.data
y = digits.target

X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2)

space = {
    "n_estimators": (100, 200),
    "min_w

[2020-08-20 08:51] UTUnex commented on #71
I tried to run the following newly added examples and only the 'discrete__bayesian.py' threw the error above, the others just passed.
discrete_bayesian.py   Error
discrete_hpbandster.py  OK
discrete_hyperopt.py    OK
hpbandster_sgd.py   OK
hyperopt_sgd.py   OK

I wonder when you will release a stable version merging all the updates.

[2020-08-20 09:46] rohan-gt commented on #70
The `_get_bohb_config_space()` function doesn't support integer spaces using `UniformIntegerHyperparameter`

[2020-08-20 09:48] rohan-gt commented on #58
@richardliaw I've updated the issue with more details. Btw how does `max_iters` perform early stopping? I'm a little confused about how it works in conjunction with `n_iter`

[2020-08-20 10:35] rohan-gt opened #72 "[Bug] Multiple warnings and errors using the Readme example"
Running the following example from the Readme on Google Colab:

[code]

gives the following warnings and errors:

[code]

[2020-08-20 11:55] rohan-gt opened #73 "[Feature Request] Add default model parameters to tuning trials"
While testing on multiple datasets I've observed that if `n_iter` is low, the tuned model has lower performance for both train and test sets compared to the model using default parameters. Is there a way to ensure that the default parameters of a model are tried out as the first trial and it starts optimizing from there? If there's no improvement, there's no need to run all the trials

[2020-08-20 20:18] richardliaw commented on #72
cc @Yard1

[2020-08-20 20:25] richardliaw commented on #73
Do you see the same behavior on RandomizedSearchCV?

[2020-08-20 20:29] Yard1 commented on #72
That's... Odd. I will check it locally. I recall it working fine in terminal.

[2020-08-20 20:32] richardliaw commented on #72
Ah I think I know what the problem is. This is a recent Tune logging issue, I will fix this asap (sorry for the false alarm)!

@rohan-gt you can add the following to the top of your script to mute:

[code]

[2020-08-20 20:37] richardliaw commented on #58
yeah... i guess that's the penalty we have to pay for adhering to the sklearn API.

max_iters = number of "epochs"
n_iter = number of hyperparameter evals.

Does that make sense?

[2020-08-20 21:02] rohan-gt commented on #73
No. Only on Bayesian and others

[2020-08-24 17:20] rohan-gt commented on #66
This issue only exists with the scikit-optimize backend and works with BOHB and Hyperopt and can be closed

[2020-08-25 08:05] #67 closed

[2020-08-25 08:08] rohan-gt commented on #58
@richardliaw According to my understanding if I set `n_iter=10` and `max_iter=5` a minimum of 5 and a maximum of 10 iterations of a model are run right? So what's the early stopping condition that will stop the process after 5 iterations?

[2020-08-25 19:11] rohan-gt opened #75 "[Question] Tune Sklearn Algorithm"
I have a couple of questions around how tune-sklearn works:

1. When I set `n_iter=10` and `max_iters=10` using BOHB, I see that the hyperparameters for the 10 trials are sampled in the first trial itself and they remain the same in all 10 trials. Aren't the hyperparameters of the later trials supposed to change dynamically based on the results from the earlier trials instead?

2. When setting `n_

[2020-08-25 19:45] #66 closed

[2020-08-26 10:26] MislavSag commented on #71
I have reinstalled the tune_sklearn and tried code:

[code]
but I got an error:

[code]
I doon't see the msg argument in docs?

[2020-08-26 11:43] rohan-gt commented on #71
@MislavSag did you try installing the hyperopt dependency first?

[2020-08-26 14:37] Yard1 commented on #70
@rohan-gt Pass a list of CS hyperparameters instead. I'll think about fixing this later

[2020-08-26 15:15] Yard1 commented on #75
I can answer some of those questions:
3 - AFAIK `max_iters` is the hard limit of iterations, but the early stopping algorithm may choose to end it earlier.
4 - try setting verbosity to 2 and see what's being printed out. For me, the number of trials was equal to what I set.

[2020-08-26 20:33] rohan-gt commented on #75
@Yard1 ,
3 - If `max_iters` is the hard limit, what is `n_iter` used for?
4 - I did set `verbosity=2` and noticed that only 10 trials are run even when I set both to 50

[2020-08-26 20:38] Yard1 commented on #75
3 - they are two different things. `max_iters` is the number of iteration per trial, and `n_iter` is the number of trials. So the maximum amount of total iterations is `max_iters` * `n_iter`.

[2020-08-27 09:14] PPiodas opened #77 "Problems with the TuneSearchCV example"
Hello,

running the example:

`
from tune_sklearn import TuneSearchCV
import scipy
from sklearn.datasets import make_classification
from sklearn.model_selection import train_test_split
from sklearn.linear_model import SGDClassifier
from src.misc.skopt.space import Real, Categorical, Integer

X, y = make_classification(n_samples=11000, n_features=1000, n_informative=50, n_redundant=0, n_classes=10,

[2020-08-27 09:53] rohan-gt commented on #77
@PPiodas You need to install the package using the following command:

`pip install -U git+https://github.com/ray-project/tune-sklearn/`

[2020-08-27 11:59] PPiodas commented on #77
Thank you very much, that worked. To avoid the same thing next time: How could I found that myself?

Anyway I get a new error:
FileNotFoundError: [Errno 2] Dashboard build directory not found. If installing from source, please follow the additional steps required to build the dashboard(cd python/ray/dashboard/client && npm ci && npm run build): 'C:\\Users\\ppiotrow\\.conda\\envs\\basic_pytorch\\li

[2020-08-27 16:49] richardliaw commented on #77
Thanks for opening this issue!

We'll update pip soon cc @inventormc

Hmm, this should be fixed with the next version of Ray, but that error is harmless.

[2020-08-28 19:59] #70 closed

[2020-08-28 21:40] inventormc opened #79 "Early stopping for xgboost and lgbm"
Xgboost early stopping is actually slightly slower than not early stopping at the moment (might be because loading in the model is inefficient?)

lgbm early stopping can't be tested right now because `init_model` is not in the stable version and installing from source isn't working on travis for some reason.

[2020-08-28 21:51] inventormc commented on #75
1. I'm actually not entirely sure how this is supposed to behave. Maybe @richardliaw can answer this one better?
2. `n_iter=10` means you sample 10 hyperparameters from the hyperparameter space, and `cv=3` means each of the 10 models will be cross validated using 3 fold cross validation. The way we figure out how to early stop at the moment is just to get the average performance across all folds,

[2020-08-28 23:19] richardliaw opened #80 "Rename n_iter => n_trials"
It is confusing that n_iter and max_iter refer to two different things.

cc @inventormc

[2020-08-29 04:35] richardliaw commented on #75
@rohan-gt these are great questions, I've pushed a PR to address them.

1) great catch, #81 should fix it up and you'll see the expected behavior.
2) I've renamed n_iter -> n_trials in #81.
3. max_iters + early_stopping => ASHA + absolute limit of max_iters. @Yard1 gave a great explanation.
4. Maybe an artifact of BOHB. I've pushed some changes and will ping you to try it out on master.
5. n_jobs=

[2020-08-29 04:39] richardliaw commented on #79
@inventormc can you tell me how to repro this?  Is there a branch + a script?

[2020-08-29 07:40] inventormc commented on #79
Yeah I used this script for xgb.

[code]

[2020-08-30 00:47] #80 closed

[2020-08-30 23:01] richardliaw commented on #77
This will be fixed with the next Ray release - but right now, you can either:

[code]
or install the latest nightly ray wheels: https://docs.ray.io/en/latest/installation.html#latest-snapshots-nightlies

[2020-08-30 23:01] #77 closed

[2020-08-31 03:16] richardliaw commented on #58
In #63, we're going to enable early stopping for XGBoost via incremental learning. We decided not to implement it for lgbm because it is not yet on a stable version.

[2020-08-31 03:21] richardliaw opened #84 "[feedback welcome] Support tensorboard, wandb loggers via strings"
Tune currently has a variety of loggers supported: https://docs.ray.io/en/latest/tune/api_docs/logging.html#tbxlogger

We should allow this to also be accessible and configurable via tune-sklearn.

A proposal:

[code]

[2020-08-31 04:52] richardliaw opened #85 "[feature request] Support `timeout` parameter"
This seems to be a widely useful parameter. taken from:

https://twitter.com/Cpp_Learning/status/1299987716759666689

[2020-08-31 04:55] richardliaw opened #86 "[examples] Add colab notebook tutorials"
It will be easy to showcase tune-sklearn usage and tips if we provide a couple jupyter notebooks.

[2020-08-31 04:56] richardliaw opened #87 "[docs/feature] Show how to tune categorical variables + integers"
Right now the default API doesn't actually support categorical/integer formats. It would be good to automatically shim into it. Perhaps this could be done via https://github.com/ray-project/ray/pull/10401

[2020-08-31 05:58] richardliaw commented on #65
I think this is addressed with hyperopt thanks to #68!

[2020-08-31 05:58] #65 closed

[2020-09-01 03:02] #58 closed

[2020-09-01 03:06] richardliaw commented on #58
Hmm, not sure how we're going to support CatBoost but will open an issue to track lightgbm.

[2020-09-01 03:07] richardliaw opened #88 "[feature] Support LightGBM incremental learning"
We should allow users to toggle incremental learning for lightgbm once it is available on LightGBM  master.

See #58.

cc @rohan-gt

[2020-09-01 03:18] richardliaw commented on #54
I just looked into this, and I think there are some missing RayTune parameters to be supported (i.e., tune.run(max_retries=X)), so I'll submit a PR to do this.

Hypothetically, you can do something like this:

1. Start with a YAML
[code]

2. On any Tune script, you should be able to add 2 lines:

[code]

3. Run this on a Ray cluster. You'll be able to leverage multiple nodes for your search:

[cod

[2020-09-01 03:25] richardliaw commented on #79
Merged in #63

[2020-09-01 03:25] #79 closed

[2020-09-01 11:45] rohan-gt commented on #54
@richardliaw yes this is fine

[2020-09-01 11:45] #54 closed

[2020-09-01 11:47] rohan-gt commented on #58
@richardliaw is early stopping enabled using cross-validation like I mentioned [here](https://github.com/ray-project/ray/issues/10163#issuecomment-683639094)? Because CatBoost has a `cv()` method too

[2020-09-03 18:40] richardliaw commented on #73
@rohan-gt we can prioritize this in the upcoming week. thanks!

[2020-09-11 14:06] rohan-gt opened #98 "[Feature Request] Stop tuning upon optimization convergence"
Is it possible enable early stopping to any algorithm that does not have partial_fit (eg. LogisticRegression or RandomForest) just by looking at the train and test (CV score) score progression across the trials?

[2020-09-11 20:06] richardliaw commented on #98
@rohan-gt good question! Can you clarify what you mean by "early stopping"? Do you mean:
1. Stop the hyperparameter sweep early, or
2. Stop the training of individual runs early? (LogisticRegression has the ability to "warm_start", so we leverage that for incremental training).

[2020-09-11 20:07] richardliaw commented on #85
This is now supported on Ray master. We can add a parameter after the release candidate comes out.

[2020-09-11 20:08] #75 closed

[2020-09-11 20:13] rohan-gt commented on #98
@richardliaw stop the hyperparameter sweep

[2020-09-12 03:30] inventormc commented on #98
In general, we need to be able to look at some metric after each epoch to use Ray Tune's schedulers/early stopping algorithms to stop a hyperparameter sweep early. This is why we currently only early stop on estimators that have `partial_fit` or `warm_start` -- we can look at the metric after each epoch. Other sklearn estimators will just fit all the way to completion without giving us a chance to

[2020-09-12 03:57] richardliaw commented on #98
Hmm yeah; I think perhaps there is value to stopping the hyperparameter tuning if the top score is converged across the last X trials though (even before having fully evaluated all `n_trials` trials).

[2020-09-12 08:00] nasrin136 commented on #51
@richardliaw I get this error with tune.run. I have a machine with 4 cpus and 1 gpu. I initiate ray with cpu=3 and gpu=1 and from within tune.run, resources_per_trial={"cpu": 1, "gpu": 0.5}.
At first, no error. 2 trails run parallel and around 20 trails get completes, however, after a while, I get this error:

"ray.tune.error.TuneError: Insufficient cluster resources to launch trial: trial request

[2020-09-12 08:22] richardliaw commented on #51
@nasrin136 thanks for reaching out!

No, that sounds like another problem (actually more concerning). Could you post this issue on ray-project/ray and ping me when you do?

[2020-09-12 10:07] nasrin136 commented on #51
Thanks @richardliaw for the prompt response. Done. and here is the link:
https://github.com/ray-project/ray/issues/10756

[2020-09-12 17:54] richardliaw opened #101 "Explicitly raise an exception if the user tries to tune `n_estimators` with early stopping"
_Originally posted by @Yard1 in https://github.com/ray-project/tune-sklearn/pull/90#issuecomment-691522918_

This should perhaps be raised in `base_search`. We may also want to raise exceptions for other automatic parameter settings too.

cc @inventormc

[2020-09-12 19:31] rohan-gt commented on #98
@richardliaw exactly. You just need to look at the CV score progression

[2020-09-18 11:43] yijing332 opened #107 "This TuneGridSearchCV instance is not fitted yet."
I have a question,：Does Tune_sklearn only support estimators with 'partial_fit' or 'warm_start' attributes?

When I use the Randomforestclassifier as an estimator, the program always reports an error:
          This TuneGridSearchCV instance is not fitted yet.

Code:
[code]

[2020-09-18 12:17] inventormc commented on #107
I think this is an issue with the parameters set. -- min_samples_leaf must be greater than 1. Can you fix that and see if it works? That being said, this error message is not very informative at all, and we'll add a better error message for this.

[2020-09-18 18:03] inventormc opened #108 "Properly raise the right error/exception when training fails"
When an error happens in _trainable, we don't explicitly raise errors; we rely on Ray Tune to log the error so it shows up in logging, and catch the TuneError that's raised. Looks like this is making errors hard to understand, especially when logging is off.

#107

For example:
[code]

[code]
Note that this does not actually *raise* the error but instead logs it.
Here is the sklearn version for re

[2020-09-19 02:05] yijing332 commented on #107
Thank you very much for your answer and help me find out the mistakes！
I adjusted the parameters and tried again, but it still didn't seem to work, but when I remove the use_gpu parameter and reduce the number of n_jobs, it can run normally.

[2020-09-20 02:32] inventormc commented on #107
Great! Glad it works now. I'm assuming you have a gpu on the machine you ran this on right?

[2020-09-20 06:58] yijing332 commented on #107
Yes, there are two GPUs on my laptop. Is it necessary to configure it when I use that param?

[2020-09-21 08:03] inventormc commented on #107
By default, tune-sklearn doesn't use gpu during training, so yes. It should work with n_jobs and use_gpu, so we'll take a look at this.

[2020-09-21 08:26] #84 closed

[2020-09-28 17:24] mattKretschmer opened #110 "Multi-metric scoring with non-default `search_optimization` values"
When using multi-metric scoring with non-default values for `search_optimization` in `TuneSearchCV`, I was getting a `KeyError` when the refitting process was happening. I've included a code snipped at a screenshot of the error below. I had already successfully installed `scikit-optimize` and `hyperopt` already.

A code-snipped that reproduces this error is:
[code]
<img width="903" alt="tune_sklea

[2020-09-29 17:01] rohan-gt opened #112 "[Feature Request] Reproducible results for TuneSearchCV"
Is it possible to produce reproducible results for TuneSearchCV using a random seed?

[2020-09-30 12:42] Yard1 opened #113 "`refit=True` is necessary to get `best_params_`"
If `refit` param is set to False, there is no way to get the best params.

[2020-10-01 04:11] richardliaw commented on #110
Closed by #111 !

[2020-10-01 04:11] #110 closed

[2020-10-01 04:24] richardliaw commented on #112
Great feature request! This should be easy to provide a fix for... will ask around the team for a PR.

[2020-10-01 04:25] richardliaw commented on #113
Hmm, right - is there a recommendation here are to what we should do?

[2020-10-01 08:36] #72 closed

[2020-10-01 12:12] Yard1 commented on #113
If scoring isn't multimetric they should be always available. That's how it's done in sklearn tuners.

[2020-10-01 18:35] Yard1 commented on #113
This is the code in sklearn's `BaseSearchCV` responsible for this.
[code]

Compare with the code in `TuneBaseSearchCV`:
[code]

Considering one of the recent PRs has fixed multimetric scoring there should be no issues with changing the functionality of `TuneBaseSearchCV` to match sklearn. I will get it done in the coming days.

[2020-10-01 19:55] richardliaw commented on #113
Yep that sounds good!

[2020-10-01 19:58] richardliaw commented on #88
Supported in #109 !

[2020-10-01 19:58] #88 closed

[2020-10-01 19:58] richardliaw commented on #51
closing because stale/addressed

[2020-10-01 19:58] #51 closed

[2020-10-01 21:56] Yard1 commented on #113
WIP here: https://github.com/ray-project/tune-sklearn/pull/114

Need to fix CI and add some new tests

[2020-10-06 09:13] rohan-gt opened #115 "[Bug] LightGBM error while using early stopping"
I'm getting the following error while setting `early_stopping=True` in `TuneSearchCV` where `estimator = LGBMClassifier(early_stopping_rounds=50)` :

`ValueError: For early stopping, at least one dataset and eval metric is required for evaluation`

The same works fine for XGBoost. A couple of related questions:
1. Why isn't it mandatory for the user to set `early_stopping_rounds` within the estima

[2020-10-06 16:14] richardliaw commented on #115
cc @Yard1 ?

[2020-10-06 19:10] Yard1 commented on #115
I think it's not something we can influence, as this is early stopping inside LightGBM itself. Our early stopping is implemented on top of early stopping that may be inside estimators themselves. Are you using the release version or the master branch? LightGBM early stopping is not present in the former IIRC. I followed the logic @inventormc implemented for xgboost, they may have a better idea abo

[2020-10-08 07:12] rohan-gt commented on #115
@Yard1 @inventormc can you provide a tune_sklearn code example using early stopping with XGBoost, LightGBM and CatBoost? Is it possible to set `early_stopping_rounds`? If not, how is the early stopping implemented?

[2020-10-09 19:23] zhu0619 opened #116 "Metric names issue tune_sklearn.tune_basesearch.TuneBaseSearchCV._format_results"
In `tune_sklearn/tune_basesearch.py:603`,  the way to get the column names of the given metric names aren't robust for customized scoring function and metric name, see below
`
                df[[
                    col for col in dfs[0].columns
                    if "split" in col and "test_%s" % name in col
                ]].to_numpy() for df in finished
`
If metric names are 'metric 1', 'met

[2020-10-09 19:24] zhu0619 opened #117 "ddd"
In `tune_sklearn/tune_basesearch.py:603`,  the way to get the column names of the given metric names aren't robust for customized scoring function and metric name, see below
`
                df[[
                    col for col in dfs[0].columns
                    if "split" in col and "test_%s" % name in col
                ]].to_numpy() for df in finished
`
If metric names are 'metric 1', 'met

[2020-10-11 23:37] richardliaw commented on #116
Seems to be a duplicate of #117 ?

[2020-10-11 23:37] #116 closed

[2020-10-11 23:37] richardliaw commented on #117
hmm yeah maybe that sounds good. Could you push a PR and tag me?

[2020-10-13 10:27] JesperDramsch opened #118 "Saved model with joblib NotFittedError unpredictably"
Thanks for the library, been getting a lot of mileage out of this.

I'm fitting a TuneSearchCV instance
[code]
and saving the instance with joblib dump, however, some of the saved models upon loading, return a `NotFittedError` after being loaded again:

` sklearn.exceptions.NotFittedError: This TuneSearchCV instance is not fitted yet. Call 'fit' with appropriate arguments
before using this estimat

[2020-10-13 23:26] richardliaw commented on #118
Hmm that's super weird. Do you have a simple repro script that I can run?

[2020-10-13 23:51] richardliaw opened #119 "Add reasoning/explanation for separate Repo"
People might wonder/ask why tune-sklearn is a separate repo.

The main reasons:

1. very flat
2. low ci overhead
3. filtered issues

[2020-10-15 14:39] awqb opened #120 "Feature request: use number of samples as resource for early stopping"
Successive halving has been [introduced in scikit-learn](https://scikit-learn.org/dev/auto_examples/model_selection/plot_successive_halving_iterations.html), and the default resource is the number of data samples used to train the model. It would be great to have this option in `tune-sklearn` as well, because it would mean that early stopping could be used in combination with any scikit-learn comp

[2020-10-24 22:03] Yard1 opened #122 "Feature: add support for Optuna tuners"
Note to self: Optuna is now available in main Ray Tune release and should be added here as an option.

[2020-10-29 09:20] DingXiangYuanZhiXing opened #123 "TuneSearchCV with EarlyStopping ValueError: sample_weight.shape == (190,), expected (271,)!"
[code]
The error says
[code]

The data is Boston.

[2020-10-29 19:24] #101 closed

[2020-10-29 19:25] richardliaw opened #124 "Feature Request: Support unified search space"
Tune now has a unified search space on 1.0; tune-sklearn should support that space too.

[2020-10-29 21:58] Yard1 commented on #124
@richardliaw Does it mean we should get rid of the automatic conversion from `dict` to algo specific search space, and instead convert `dict`s to tune's unified search space and then pass it to the algos? Leaving already converted search spaces as-is, of course.

[2020-10-29 21:59] Yard1 commented on #122
@krfricke Pinging you because you got assigned to it - support for Optuna is already in the code, I think the only thing needed is to add `optuna` to possible `search_optimization` values.

[2020-10-29 22:03] richardliaw commented on #124
Hmm, possible to leave that as-is. The issue is so that users can pass in their search space in the Tune API format.

[2020-10-29 22:14] Yard1 commented on #124
Adding just that should be a quick and easy change. Just to be certain - we don't need to do any processing of it here, do we? I took a look at Tune code and it seems like it's all handled within the algos themselves.

[2020-10-29 22:15] richardliaw commented on #124
yep! all is done in tune

On Thu, Oct 29, 2020 at 3:14 PM Antoni Baum <notifications@github.com>
wrote:

[2020-10-29 23:33] Yard1 commented on #124
Happy to work on this, then.

[2020-10-30 00:34] richardliaw commented on #124
Great! I'll assign this to you, and just cc @krfricke when you're done!

[2020-10-30 02:12] richardliaw commented on #123
Thanks for reporting this issue!

cc @inventormc do you have time to take a look at this?

[2020-11-01 04:34] richardliaw opened #127 "[feature request] integrate with nvidia cuml"
cuML has some great GPU-based ML algorithms. We should provide a couple examples.

[2020-11-03 01:09] amogkam commented on #108
Hi @inventormc @richardliaw I'm currently working on fixing this issue. I probably being naive here, but isn't a quick fix to not silently catch TuneErrors and raise it instead? Is there a reason this wasn't done initially? If it's still necessary to catch the exception we could log the error instead.

I ran the example from #107 and this is the full stacktrace:
[code]
But this error is misleading

[2020-11-03 01:22] amogkam commented on #108
This is the only change I'm making- https://github.com/ray-project/tune-sklearn/pull/130

[2020-11-03 03:43] richardliaw commented on #108
@amogkam thanks - i've updated the issue with a repro script and a error message. You can check the native sklearn version for a more desirable error message.

[2020-11-03 12:28] rohan-gt opened #131 "Getting numerous errors and warnings using LightGBM"
I'm getting a lot of errors and warnings when I run the following code on Google Colab. One which even says performance will be worse if I use `early_stopping` with LightGBM. Is this expected? :

[code]

outputs the following:

[code]

[2020-11-03 12:37] Yard1 commented on #131
Can you try with Lgbm n_jobs set to 1?

[2020-11-03 16:41] rohan-gt commented on #131
@Yard1 Still giving the `UserWarning: tune-sklearn implements incremental learning for lightgbm models following this: https://lightgbm.readthedocs.io/en/latest/pythonapi/lightgbm.LGBMModel.html#lightgbm.LGBMModel.fit This may negatively impact performance. To disable, set early_stopping=False.` error and the following output:

[code]

[2020-11-03 22:00] Yard1 commented on #131
I ran the code you posted and couldn't replicate the exception. The warnings will be improved.

[2020-11-03 22:30] richardliaw commented on #131
This is related to this error: https://github.com/ray-project/ray/issues/11547.

A fix should be:

[code]

[2020-11-03 22:58] richardliaw commented on #123
@DingXiangYuanZhiXing this works for me:
[code]

Can you help provide a reproducible script (with the dataset/processing)? I'd love to help figure out the root cause of this issue!

[2020-11-04 03:01] DingXiangYuanZhiXing commented on #123
@richardliaw Thank you for your patience!
[code]

The error message:
[code]

[2020-11-04 03:59] inventormc commented on #108
Hi @amogkam thanks for looking at this. I think there are certain cases where there is an underlying issue from sklearn, but raising the TuneError directly will mask this underlying error (see #48 ). We'd want an error like this ideally:

[code]

This is why we chose to silently catch at first.

[2020-11-04 05:02] richardliaw commented on #123
Hmm, @DingXiangYuanZhiXing can you try upgrading to the latest Ray and installing `tune-sklearn` from source?

I see this for my output:

[code]

[2020-11-04 05:29] DingXiangYuanZhiXing commented on #123
@richardliaw Installing from source solves my problem. Is there a plan for new release? Current version `tune-sklearn==0.1.0` is old.

[2020-11-04 05:29] #123 closed

[2020-11-04 13:17] rohan-gt commented on #131
@Yard1 did you try running it on Google Colab?

[2020-11-05 19:38] richardliaw commented on #131
@rohan-gt did the fix work?

[2020-11-05 20:40] rohan-gt commented on #131
@richardliaw yes now it doesn't show as many warnings. So the warnings only pop up if the order of imports changes?

The performance warning for using early stopping with lightgbm still shows though. Isn't early stopping supposed to speed up the algorithm?

Also why not keep HyperbandForBOHB as the default scheduler for BOHB? Why throw the warning at all?

[2020-11-06 01:13] #122 closed

[2020-11-06 02:00] richardliaw opened #135 "Exception Handling: seeing a `_queue.Empty` error"
If you run:

[code]

You get this exception:

[code]

The fix is probably to set `n_jobs` in crossvalidate to 1.
cc @amogkam

[2020-11-06 02:00] richardliaw commented on #135
But instead, after doing a dive into the exception handling, the chain of exceptions should actually be:

[code]

[2020-11-06 20:33] richardliaw commented on #85
Closed by #134

[2020-11-06 20:33] #85 closed

[2020-11-06 20:33] richardliaw commented on #113
This is closed by #114

[2020-11-06 20:33] #113 closed

[2020-11-07 03:11] amogkam opened #137 "Better Error Messages"
Currently we directly raise any errors from tune or sklearn. We should add better error messages so the user knows how to resolve these errors. There are two types of errors that we need to better messages for:

1. Errors with Tune. For example
[code]
Users should not be exposed to Tune internals and a more user-friendly message should be provided.

2. Sklearn examples. For example
[code]
However,

[2020-11-07 03:13] amogkam opened #138 "warnings in _trainable not shown"
Warning messages (`warnings.warn`) are used in the `_trainable`, but these don't actually get shown on stdout because they are inside an actor.

I think the fix is to follow this https://stackoverflow.com/questions/55272066/how-can-i-use-the-python-logging-in-ray and use logging instead.

[2020-11-09 18:51] #115 closed

[2020-11-09 18:58] rohan-gt commented on #98
In the graph below I'm taking the cumulative max of the CV score as the trials progress. Here we can see that one optimum is reached after 8 trials and we can possibly end the optimization after checking a few trials after that (maybe at 15)

![Screenshot 2020-11-10 at 12 11 15 AM](https://user-images.githubusercontent.com/2353212/98583844-0c108400-22eb-11eb-8d7e-a4c5332ccd9e.png)

[2020-11-09 19:00] rohan-gt commented on #73
One possible solution could be if the user sets 10 trials, the first one could be using the algorithm's default parameters and the rest 9 could be sampled randomly and progress from there

[2020-11-09 19:03] rohan-gt opened #139 "[Feature Request] Add an option to timeout the optimization"
It would be useful to add an optional parameter to have a hard time limit to the optimization to stop it prematurely

[2020-11-09 19:33] richardliaw commented on #139
This should already be supported on master via `time_budget_s` :)

[2020-11-09 19:35] rohan-gt commented on #139
Ah, missed this update. You read my mind. Thanks!

[2020-11-09 19:35] #139 closed

[2020-11-09 23:53] Yard1 commented on #73
Or the defaults could just be ran first, always - that way we guarantee the tuned model will not be worse than the one that went in.

[2020-11-10 00:31] #108 closed

[2020-11-16 22:02] richardliaw commented on #73
What you want to do here is to implement something like Scikit-Optimize, where you can specify x0 and y0 upfront:

https://scikit-optimize.github.io/stable/modules/generated/skopt.optimizer.gbrt_minimize.html#skopt.optimizer.gbrt_minimize

[2020-11-16 22:49] Yard1 commented on #73
This probably needs to be handled outside the main optimization loop as it would be hard to just drop in the current model params into distributions (though it wouldn't be an issue with random/grid search).

[2020-11-22 15:12] alokgogate opened #143 "Fractional values in gpu (resource_per_trial)"
Is it possible to give fractional values along with parameter `use_gpu` while using `TuneSearchCV` ?

[Labels]: question

[2020-11-22 17:26] richardliaw commented on #143
Hmm, currently not possible to do so, but let me tag this as a feature request (and it should be easy to implement!)

[2020-11-22 19:05] Yard1 commented on #143
I can work on this.

[2020-11-22 19:46] richardliaw commented on #143
That's awesome - it should be really straightforward (see n_cpus)

[2020-11-22 19:55] Yard1 commented on #143
Should we add a new parameter for that, or allow users to pass integers to `use_gpu`, in which case the same logic as for `n_jobs` will be used (see line 531 in `tune_basesearch.py`)?

[2020-11-22 21:59] richardliaw commented on #143
Hmm I think you just want to make n_jobs also configure fractional gpu (no
new param)

On Sun, Nov 22, 2020 at 11:55 AM Antoni Baum <notifications@github.com>
wrote:

[2020-11-23 18:46] andyolivers opened #146 "AttributeError: 'TuneGridSearchCV' object has no attribute 'best_estimator_'"
Hi! I'm getting the following error when running a TuneGridSearchCV:

AttributeError: 'TuneGridSearchCV' object has no attribute 'best_estimator_'

My settings are the following:
`
       model = GradientBoostingRegressor()
        pipe = Pipeline([('model', model)])
        # Hyperparameter tuning
        gsearch = TuneGridSearchCV(pipe, cv=my_cv, param_grid=param_search, n_jobs=7, refit=True,

[2020-11-24 04:08] richardliaw commented on #146
hmm does this error appear on master?

[2020-11-24 05:41] richardliaw commented on #143
Hey @alokgogate, @Yard1 just merged this -- could you give it a try?

[code]

will use 8 jobs with the proper CPU/GPU fractions :)

[2020-11-24 05:42] richardliaw commented on #143
I'll close this for now, but definitely let me know if this works for you (and feel free to reopen/open a new issue!)

[2020-11-24 05:42] #143 closed

[2020-11-24 09:03] andyolivers commented on #146
yes

[2020-11-24 09:08] richardliaw commented on #146
@andyolivers can you provide a simple repro script that I can run?

cc @Yard1 can you take a look?

[2020-11-24 09:15] Yard1 commented on #146
Yeah, a reproducible example would be very helpful here. I think that something is breaking during optimization. The lack of `best_estimator_` usually means that there has been an exception on the way somewhere.

[2020-11-24 09:51] andyolivers commented on #146
This is company code, so I'm really can't get much into details. Below is my build_model function and the model parameters:

[code]
    gsearchs = []
    scores = []
    best_params = []
    cv_results = []
    best_models = []
    for i in model_list:
        print(i)

        # Get model
        model = i.model

        # Create a pipeline
        # pipe = Pipeline([('scaler', MinMaxScaler()), (

[2020-11-24 09:52] Yard1 commented on #146
Are there any exceptions raised when optimizing?

[2020-11-24 10:02] andyolivers commented on #146
Here:
`

Could not instantiate TBXLogger: No module named 'tensorboardX'.
== Status ==
Memory usage on this node: 6.3/8.0 GiB
Using FIFO scheduling algorithm.
Resources requested: 2/8 CPUs, 0/0 GPUs, 0.0/2.2 GiB heap, 0.0/0.73 GiB objects
Result logdir: /Users/andre.oliveira/ray_results/_Trainable_2020-11-24_10-00-18
Number of trials: 1/6000 (1 RUNNING)
+------------------------+----------+-------

[2020-11-24 10:11] Yard1 commented on #146
Could you try adding `sk_n_jobs=1` to `TuneGridSearchCV` arguments?

[2020-11-24 10:21] andyolivers commented on #146
Now it is running fine. Is it really impossible to implement earlystopping with scikit's Gradient Boosting?

[2020-11-24 10:32] Yard1 commented on #146
I believe early stopping for it is already supported?

[2020-11-24 10:47] andyolivers commented on #146
I tried to implement with this model and got this error: `ValueError: Early stopping is not supported because the estimator does not have `partial_fit`, does not support warm_start, or is a tree classifier. Set `early_stopping=False`.`
Then tried to remove the pipeline and use just the model and same error.

[2020-11-24 10:59] Yard1 commented on #146
I'll take a look.

[2020-11-25 00:20] sungreong opened #148 "[Question] How to save all model in TuneSearchCV?"
Hi, I have a question.

When using TuneSearchCV, can you save all the models with the highest performance for each trial?

[2020-11-25 05:04] sungreong opened #149 "[Question] skorch & TuneSearhCV (hyperopt) has some error"
[code]

# Error
[code]

[2020-11-25 07:24] richardliaw commented on #149
@sungreong can you provide the train_x_np too?

[2020-11-25 07:45] richardliaw commented on #148
Can you provide an example of what you mean?

[2020-11-25 07:46] richardliaw opened #151 "Early stopping with sklearn gradient boosting"
I tried to implement with this model and got this error: `ValueError: Early stopping is not supported because the estimator does not have `partial_fit`, does not support warm_start, or is a tree classifier. Set `early_stopping=False`.`
Then tried to remove the pipeline and use just the model and same error.

_Originally posted by @andyolivers in https://github.com/ray-project/tune-sklearn/issues/1

[2020-11-25 07:47] richardliaw commented on #146
closing this, as the original issue is fixed!

[2020-11-25 07:47] #146 closed

[2020-11-25 07:47] #112 closed

[2020-11-25 07:57] richardliaw commented on #107
Closing this as we have seemed to address this issue!

[2020-11-25 07:57] #107 closed

[2020-11-25 08:16] alokgogate commented on #143
Hi @richardliaw,

I tried to install it using the master branch
the setup.py get's stuck and terminates after some time with the following error 👎
[code]

I check for package `parameterized` and have it already installed

[2020-11-25 08:24] richardliaw commented on #143
Hmm maybe theres a pip outage - can you try commenting it out on setup.py?

On Wed, Nov 25, 2020 at 12:16 AM alokgogate <notifications@github.com>
wrote:

[2020-11-25 10:35] alokgogate commented on #143
didn't find pip outage or outage in the file

[2020-11-25 17:27] richardliaw commented on #143
sorry, can you just try commenting out "parametrize" in the setup.py?

[2020-11-25 17:51] alokgogate commented on #143
Don't see that one either

[2020-11-25 22:47] Yard1 commented on #151
@richardliaw @andyolivers
I have ran the following code on tune-sklearn master and Ray release version:
[code]
It worked for me without any issues. Everything worked as expected.

[2020-11-26 01:01] #135 closed

[2020-11-26 01:04] richardliaw commented on #143
hmm @alokgogate I just merged a fix, can you try: `pip install git+https://github.com/ray-project/tune-sklearn`

[2020-11-26 01:09] andyolivers commented on #151
Hi! Many thanks for the help. I just tried to update the library and it is now working fine. I just needed to remove n_estimators from the parameter grid as well.

[2020-11-26 03:56] sungreong commented on #148
In Example,

[code]

I do not want to save only the best case of `gs`, but I want to save all the models from all the results of the experiment.

[2020-11-26 06:30] alokgogate commented on #143
Hi @richardliaw, this worked and was able to install and run a few experiments. I have a few observations though:

When I run with `n_jobs=8,use_gpu=True` and set `verbose=2` I can see that a fraction of GPU is requested (I have 4 GPU cards hence each experiment is requesting 0.5). But i dont see the GPU's being used when look at nvidia-smi
Is this expected behaviour? I am using xgboost to test th

[2020-11-26 07:30] richardliaw commented on #143
Hmm, you need to set `gpu_hist` for xgboost.

[2020-11-26 07:54] richardliaw commented on #148
Hey @sungreong we actually removed this feature but am happy to reintroduce support. I'll push a PR soon!

[2020-11-28 20:47] DanielAtKrypton opened #153 "Neverending ray tuning"
# Problem description

I am setting up a test framework for `ray tune` but unfortunately I got stuck when I was trying to tune the learning rate hyperparameter of a pipelined network.

The test code can be found [here](https://github.com/krypton-unite/time_series_predictor/blob/ray_tune/tests/main_test.py#L112).

I noticed when debugging the test that the tuning spawns many threads as can be seen

[2020-11-28 21:05] Yard1 commented on #153
What happens if you set `n_jobs=1` in `TuneGridSearchCV`?

[2020-11-28 21:34] DanielAtKrypton commented on #153
The same behaviour as a result...

[2020-11-28 21:38] Yard1 commented on #153
Can you try `cv=2`?

[2020-11-28 21:42] DanielAtKrypton commented on #153
Sure. I got still the same behavior with n_jobs=1 and cv=2:

[code]

[2020-11-28 21:44] TimZaragori opened #154 "TuneSearchCV has not attribute 'best_index_'"
Hi, I am getting the following error while trying to use `TuneSearchCV` with `search_optimization=bayesian` :
`AttributeError: 'TuneSearchCV' object has no attribute 'best_index_'`. It's quite strange because the object is fitted and I can access `best_estimator_`.
At the beginning of my tests, I also had a lot of warning as in #146 or #131 which I resolved by setting `sk_n_jobs=1` as recommended.

[2020-11-28 21:45] DanielAtKrypton commented on #153
My pip list within the virtual environment:

[code]

[2020-11-28 21:49] Yard1 commented on #154
Does this issue persist if you install tune-sklearn from the master branch of this repo?

[2020-11-28 22:21] Yard1 commented on #153
Can you try updating tune-sklearn to the version on github? `pip install -U git+https://github.com/ray-project/tune-sklearn.git` And also please make sure that your Ray version is up to date.

[2020-11-28 23:04] DanielAtKrypton commented on #153
After I updated with the command above, it went to version 0.0.8. Now the test crashes with the following info:

[code]

I am using `ray` version `1.0.1.post1`

[2020-11-28 23:11] TimZaragori commented on #154
@Yard1 it works when installing from github. However, I am using it in a docker and i would like to have a fixed version in my dockerfile and not just a link to master. If there a tag for the version currently in master?

[2020-11-28 23:54] Yard1 commented on #154
I believe we will be updating the pip version soon, so the easiest solution would be to wait a while.

@richardliaw FYI

[2020-11-28 23:55] Yard1 commented on #153
That's quite odd. @richardliaw, @inventormc any ideas?

You can revert back to the previous version by u installing tune-sklearn and installing it normally again.

[2020-11-29 00:05] TimZaragori commented on #154
would it work to get best_index with `best_index = clf_fitted.cv_results_['rank_test_score'].argmin()` ?

[2020-11-29 00:46] Yard1 commented on #154
I believe that could work in the interim, yeah.

[2020-11-29 00:52] DanielAtKrypton commented on #153
I reinstalled `tune-sklearn`. It got the version tune-sklearn-0.1.0. The behaviours is now the previous I reported [here](https://github.com/ray-project/tune-sklearn/issues/153#issue-752764827).

[2020-11-29 01:07] richardliaw commented on #153
Hey @DanielAtKrypton, what are the commands to reproduce your stack?

Also, can you try running this outside vscode (i.e., just using a terminal)?

[2020-11-29 01:12] DanielAtKrypton commented on #153
Sure, I just started the test:

![Imgur](https://i.imgur.com/UYUNw0e.png)

I will leave it processing for now...

[2020-11-29 01:15] richardliaw commented on #153
can you try instead with `pytest -s -v` ?

[2020-11-29 01:21] DanielAtKrypton commented on #153
Sure. Here is the output:
![Imgur](https://i.imgur.com/GL1Bomr.png)

[2020-11-29 01:30] richardliaw commented on #153
OK got it; can you now try, in a python terminal:

[code]

[2020-11-29 01:33] DanielAtKrypton commented on #153
There you go:

![Imgur](https://i.imgur.com/vgigVTS.png)

[2020-11-29 01:38] richardliaw commented on #153
awesome, so now we know that the fundamental problem seems to be in ray core.

Can you try `ray stop` and run it again?

[2020-11-29 01:51] DanielAtKrypton commented on #153
Still running. I will update as soon I have other output from the terminal...

![Imgur](https://i.imgur.com/kv02ORR.png)

[2020-11-29 02:37] richardliaw commented on #153
OK got it, so `ray.init()` is just hanging forever?

[2020-11-29 02:37] DanielAtKrypton commented on #153
Yes, unfortunately it is.

[2020-11-29 02:53] richardliaw commented on #153
OK. Can you try:

pip install -U [latest wheel link for windows]
as found here:

https://docs.ray.io/en/master/installation.html#daily-releases-nightlies

and if that doesn't work, try downgrading to `pip install ray==1.0.0`?

[2020-11-29 03:02] DanielAtKrypton commented on #153
I installed the latest wheel for windows and python 3.7.

Now it is behaving like this:

![Imgur](https://i.imgur.com/vQseO3w.png)

I tried to open the dashboard in my browser but the browser was unable to connect there.

[2020-11-29 03:03] DanielAtKrypton commented on #153
And ray status reports:

![Imgur](https://i.imgur.com/UQdUF85.png)

[2020-11-29 04:02] richardliaw commented on #153
try `ray stop` a couple times, then try the hello world again?

[2020-11-29 04:25] DanielAtKrypton commented on #153
I tried a couple times.
It starts and hangs forever...

![Imgur](https://i.imgur.com/jEOfz9z.png)

[2020-12-03 12:58] vectosaurus opened #155 "[Issue] TypeError: init() got an unexpected keyword argument 'include_dashboard'"
Running the hyperopt example for `TuneSearchCV`  from the readme page yields the following error

```TypeError: init() got an unexpected keyword argument 'include_dashboard'```

This is the code I am running. I face the same issue with the `'bayesian'` optimization too. How to fix this?

[code]

[2020-12-03 20:06] Yard1 commented on #155
Does this issue persist on the master branch version of tune-sklearn?

[2020-12-04 04:27] vectosaurus commented on #155
Yes, I've installed the library using pip. I am not using any other branches

[2020-12-04 11:37] Yard1 commented on #155
Could you try `pip install -U git+https://github.com/ray-project/tune-sklearn.git`? This will install the development version of tune-sklearn. If the issue still persists after that, try updating your Ray package.

[2020-12-04 12:33] vectosaurus commented on #155
@Yard1

I tried the install you provided but got the following error

```ImportError: cannot import name 'Domain' from 'ray.tune.sample' (/home/ubuntu/anaconda3/lib/python3.7/site-packages/ray/tune/sample.py)```

The command you gave installs `tune-sklearn-0.0.8` so I went ahead and upgraded to `tune-sklearn-0.1.0`. Doing that now gives me the following error

```TypeError: __init__() got an unexp

[2020-12-04 12:34] vectosaurus commented on #155
@Yard1

I tried the install you provided but got the following error

```ImportError: cannot import name 'Domain' from 'ray.tune.sample' (/home/ubuntu/anaconda3/lib/python3.7/site-packages/ray/tune/sample.py)```

The command you gave installs `tune-sklearn-0.0.8` so I went ahead and upgraded to `tune-sklearn-0.1.0`. Doing that now gives me the following error

```TypeError: __init__() got an unexp

[2020-12-04 12:37] Yard1 commented on #155
The version number is a mistake on our part, the code I gave you will install the latest version of the package, consistent with the master branch of this repository.

You should update your Ray install.

[code]

This should work. Let me know how it goes.

[2020-12-04 12:54] vectosaurus commented on #155
I tried the steps above, I am getting the same error-

```TypeError: __init__() got an unexpected keyword argument 'sk_n_jobs'```

I am using the example from [here](https://github.com/ray-project/tune-sklearn#tunesearchcv)

[2020-12-04 12:55] Yard1 commented on #155
Can you try creating a new conda/virtualenv environment and running the commands I posted again? There seems to be an issue with packages you have installed.

[2020-12-04 13:25] vectosaurus commented on #155
@Yard1

This works with venv now. Thanks a lot for the inputs.

Could also you point me to the documentation that says how to handle Integer or Categorical hyperparams?

Thanks again

[2020-12-04 19:24] Yard1 commented on #155
You can use tune's search spaces for all algorithms - https://docs.ray.io/en/master/tune/tutorials/overview.html#how-do-i-choose-hyperparameter-ranges. Just pass the config dict as `param_distributions` argument.

You can pass the fit arguments through the `fit` method of `TuneSearchCV`, eg.
[code]

[2020-12-05 06:15] vectosaurus commented on #155
Thanks a lot @Yard1

[2020-12-05 06:15] #155 closed

[2020-12-11 14:13] hadim opened #159 "Upload source dist to pypi for conda package"
The pypi build only contains a wheel. It would be nice to have a source package for packaging on conda forge: https://pypi.org/project/tune-sklearn/#files

[2020-12-14 21:25] #98 closed

[2020-12-16 04:43] richardliaw commented on #159
Oh nice -- @hadim did you already get to this?

[2020-12-16 10:23] hadim commented on #159
Yup, it's there already https://github.com/conda-forge/tune-sklearn-feedstock/blob/master/recipe/meta.yaml#L9

[2020-12-16 19:08] richardliaw commented on #159
Awesome, I wish I could send you a coffee for this! Thanks a bunch!

[2020-12-16 19:08] #159 closed

[2020-12-16 20:15] hadim commented on #159
Thanks.

The package is here indeed but it relies on the git release archive. It is preferred on conda forge to rely on the source archive from pypi. Could you upload it for the next release? Currently pypi only contains the wheel archive.

[2020-12-16 21:08] #73 closed

[2020-12-16 22:35] richardliaw commented on #153
Unfortunately this is a ray issue, and I'll close this and continue discussion on the ray side.

[2020-12-16 22:35] #153 closed

[2020-12-17 00:02] #151 closed

[2020-12-18 06:35] sungreong opened #166 "[Bug] Scheduler MedianStoppingRule is no impact"
You need to use custom metrics.
But it doesn't seem to work well.
In the whole iteration, it seems that the middle stop phenomenon is not detected and cannot be checked.

[code]

i define the metric name is "mean_test_score".
i think it is not effect

my result is below.

![image](https://user-images.githubusercontent.com/22166391/102582789-abc0fd80-4146-11eb-80cf-5cf481197f8f.png)

please help me

[2020-12-19 04:43] richardliaw commented on #131
Early stopping requires "incremental training" which is often slower than the standard mode of training.

Can you create a new issue for the BOHB default? I think that's a great suggestion.

I'll close this issue now since we have a new release!

[2020-12-19 04:43] #131 closed

[2020-12-19 04:44] richardliaw commented on #154
I think this is now fixed with the new pip release!

[2020-12-19 04:44] #154 closed

[2020-12-19 04:45] richardliaw commented on #149
Hmm, unfortunately I cannot repro because I need `train_x_np`. I'll close this for now.

[2020-12-19 04:45] #149 closed

[2020-12-19 04:45] richardliaw commented on #124
Awesome! This should be addressed with the new release :)

[2020-12-19 04:45] #124 closed

[2020-12-19 04:46] #119 closed

[2020-12-19 04:47] richardliaw opened #167 "Documentation for using the Tune search spaces?"
We merged support for Tune search spaces in `v0.2.0`.

Perhaps let's update the readme with the appropriate docs/examples, specifically for doing categorical distributions?

cc @Yard1

[2020-12-19 04:51] richardliaw commented on #166
@sungreong can you please provide a full script that I can run?

[2020-12-19 07:25] Yard1 commented on #167
Good idea, will cook up a PR

[2020-12-21 15:42] DanielAtKrypton commented on #153
Source of this problem is being considered [here](https://github.com/ray-project/ray/issues/12481).

[2020-12-21 17:44] Filco306 opened #169 "Installing does not work on python 3.9"
Hello,

I currently cannot install this package when I use the pip installment.

I have tried both ways of installing, and I get:

[code]

[code]

My python3 version:

[code]

Would you perhaps know what is wrong? Thank you very much!

[2020-12-22 23:19] richardliaw commented on #169
Yeah! It's because one of the core dependencies (Ray) currently doesn't work on 3.9. I've brought this up with the team and there's currently ongoing work (expect to be available in January!)

[2020-12-23 22:22] Filco306 commented on #169
Okay awesome, thank you very much! :D

[2020-12-30 07:45] Weidong725 opened #172 "RuntimeError: Unable to connect to Redis at 127.0.0.1:6379."
This error occurs when I run the sample file of random forest，How can I solve it？

[2020-12-30 22:56] richardliaw commented on #172
@Weidong725 can you post the entire stacktrace?

[2021-01-06 15:47] theshy456 opened #174 "AttributeError"
AttributeError: partially initialized module 'ray' has no attribute 'compat' (most likely due to a circular import)
![微信图片_20210106234706](https://user-images.githubusercontent.com/63041101/103788185-85252100-5079-11eb-9849-c26b1d1d621d.jpg)

[2021-01-06 16:17] Yard1 commented on #174
Try installing ray and tune-sklearn in a new virtualenv.

[2021-01-06 16:20] theshy456 commented on #174
A new vitualenv?

[2021-01-06 16:34] theshy456 commented on #174
Answer else?

[2021-01-06 16:52] theshy456 commented on #174
![Uploading 微信图片_20210107005207.jpg…]()

[2021-01-06 16:53] theshy456 commented on #174
![微信图片_20210107005207](https://user-images.githubusercontent.com/63041101/103796916-c4a43b00-5082-11eb-8992-0a6cf41476a4.jpg)

[2021-01-06 16:56] theshy456 opened #175 "FileNotFoundError"
![微信图片_20210107005207](https://user-images.githubusercontent.com/63041101/103797251-2f557680-5083-11eb-81d2-ec6488a5458f.jpg)

[2021-01-10 19:29] mkretsch327 commented on #172
@Weidong725 - If this is still an issue I'd check your VPN/firewall settings, I've received this error when on a restrictive VPN. A full stacktrace would be most helpful though.

[2021-01-19 15:20] Yosafat1997 opened #177 "Using val_loss or val_accuracy with Predefined Validation"
Dear devs,
I want to use tune-sklearn with my predefined dataset. I using similar pattern like GridSearchCV but instead rely on loss and accuracy, i want to use loss or accuracy from validation set and make my code like this:
[code]
And define my predefined validation set like this:
[code]
however when i change the monitor to val_loss it gives me error:
[code]
and when i set it to loss, it works,

[2021-01-26 04:40] #175 closed

[2021-01-26 04:41] richardliaw commented on #174
Please post this issue on https://github.com/ray-project/ray as it seems unrelated to tune-sklearn specifically!

[2021-01-26 04:41] #174 closed

[2021-01-26 04:42] richardliaw commented on #177
@Yosafat1997 does it work if you do `sklearn.model_selection.GridSearch` instead?

[2021-01-26 21:30] Filco306 commented on #169
Working now! Closing this!

[2021-01-27 22:48] richardliaw commented on #167
Fixed by @mattKretschmer :)

[2021-01-27 22:48] #167 closed

[2021-02-01 15:46] r0f1 opened #179 "[feature request] sklearn cross_val_score"
Hi,
Often times I want to compare different classifiers on the same dataset and I find myself writing code that looks like this:
[code]
I was wondering if ray could be used to speed up the process. Or more specifically: Can I use ray to do cross validation and use it instead of `cross_val_score()`? If not, I think that would be a useful feature to add.

Thank you.

[2021-02-01 17:02] Yard1 commented on #179
I think you could just use grid search with one possible combination of parameters to essentially get the equivalent of sklearn's CV on Ray

[2021-02-12 03:00] #172 closed

[2021-02-14 21:11] mGalarnyk opened #181 "[Bug] typing._ClassVar AttributeError: module 'typing' has no attribute '_ClassVar'"
I was trying to use this example: https://github.com/ray-project/tune-sklearn/blob/master/examples/sgd.py

and I got the following error.

` File "/Users/michaelgalarnyk/opt/anaconda3/lib/python3.7/site-packages/dataclasses.py", line 801, in _process_class
    for name, type in cls_annotations.items()]
  File "/Users/michaelgalarnyk/opt/anaconda3/lib/python3.7/site-packages/dataclasses.py", line 8

[2021-02-14 23:18] richardliaw commented on #181
hey @mGalarnyk could you uninstall typing (`pip uninstall typing`)?

[2021-02-15 02:58] mGalarnyk commented on #181
Didn't solve the issue. The full error is

[code]

Any ideas?

[2021-02-15 03:51] richardliaw commented on #181
Can you try pip uninstall dataclasses?

On Sun, Feb 14, 2021 at 6:58 PM Michael Galarnyk <notifications@github.com>
wrote:

[2021-02-15 13:34] Filco306 opened #182 "[FEATURE REQUEST] Allow for additional kw_args to tune.run"
Hello,

I am currently using the `TuneSearchCV` for some experiments that I have, and I am running into [this issue](https://github.com/ray-project/ray/issues/7718), which I cannot override currently as there is no way to pass additional, customized arguments to `tune.run()` as it seems. Is there a way to allow this, or have I missed something in the documentation?

Thank you!

Cheers,
Filip

[2021-02-15 14:15] Filco306 commented on #182
I can close this now; for people running into the same problem, this can be used by defining the environment variable `TUNE_GLOBAL_CHECKPOINT_S`

[2021-02-15 14:15] #182 closed

[2021-02-15 16:05] Filco306 opened #183 "[Bug] HyperOpt optimization yields same results for both positive and negative loss values."
Hello,

First of all, thank you for a nice repository. I am trying to use your package for some experiments of mine, namely using `TuneSearchCV` in one of the experiments.

I have built a custom sklearn estimator with its custom scoring function.

My code:

[code]

As I understand it, the scoring is based on my scoring function, so the `score`-function is a pre-defined function I have built return

[2021-02-16 14:04] patilpushkarp opened #184 "Ray Tune throws "'NoneType' object is not callable" error"
I am trying to run the example of TuneGridSearchCV on the [ray's documentation ](https://docs.ray.io/en/master/tune/tutorials/tune-sklearn.html) page and I am getting "'NoneType' object is not callable" error. Would appreciate help on this error.
System specs -
OS - Mac OS Big Sur
Python version - 3.8

[2021-02-16 14:08] #184 closed

[2021-02-16 20:13] richardliaw commented on #183
Hmm, the first few optimization steps of hyperopt are going to be random (to get a good idea of the loss landscape). After 20 or 30 steps, you should see optimization -- so maybe set n_trials to 100?

[2021-02-16 21:13] Filco306 commented on #183
Ah, I see, that might be it then! I will try and get back to you. Thank you!

[2021-02-20 09:55] richardliaw commented on #181
Closing this as I think `pip uninstall dataclasses` will make this work on py3.7

[2021-02-20 09:55] #181 closed

[2021-02-21 08:47] #183 closed

[2021-02-21 08:48] richardliaw commented on #166
max_iters = number of training iterations per model (think like SGD epochs).

[2021-02-21 08:48] #166 closed

[2021-02-21 08:49] richardliaw commented on #118
Closing this now, not sure how to repro.

[2021-02-21 08:49] #118 closed

[2021-02-23 03:23] kylegilde opened #185 "Can't install on Kaggle's Python 3.7"
I can't seem to install the package in a Kaggle Notebook.

[code]

[2021-02-23 10:59] Yard1 commented on #185
I may be misremembering but don't you need to explicitly turn on web support on Kaggle?

[2021-03-01 01:51] kylegilde commented on #185
Ok, turning on the Internet in Settings does appear to allow me to install the package.

However, now I'm getting this import error when I try to import any part of the package.

Any suggestions? Thanks

`python

from tune_sklearn import TuneGridSearchCV
# import tune_sklearn as ts

---------------------------------------------------------------------------
ImportError

[2021-03-02 17:54] mariesosa opened #186 "[bug] TuneSearchCV with hyperopt raise an error with sklearn.RandomForestClassifier"
# Describe the bug

When a `TuneSearchCV` is performed with an unfitted `sklearn.RandomForestClassifier` with `search_optimization="hyperopt"` it raise the following error: `AttributeError: 'RandomForestClassifier' object has no attribute 'estimators_'`.

# Steps/Code to Reproduce

[code]

# Expected Results
No error is thrown.

# Actual Results

[code]

# Versions

hyperopt==0.2.5
numpy==1.18.4
r

[2021-03-02 19:43] Yard1 opened #187 "[feature] Support any Searcher/Stopper in Tune"
The user should be able to pass a Searcher/Stopper object in addition to predefined strings in `TuneSearchCV`. It would be quite easy to add support for that, however first the search space conversions in tune-sklearn need to be unified as to either convert the objects that can be passed right now to Tune search spaces (which will then get converted to Searcher-specific spaces inside those) or mak

[2021-03-02 19:43] Yard1 commented on #187
@richardliaw

[2021-03-02 19:47] richardliaw commented on #186
@krfricke this looks like an interesting issue where we pass too many items to the Search Algorithm to convert the search space:

[code]

[2021-03-02 20:47] krfricke commented on #186
Oh interesting! I'll look into this more closely tomorrow!

[2021-03-03 02:23] kylegilde commented on #185
Let's close this and start a new issue.

[2021-03-03 02:23] #185 closed

[2021-03-03 02:25] kylegilde opened #188 "ImportError: cannot import name 'CombinedStopper' from 'ray.tune.stopper'"
I'm trying to import parts of the package in a Kaggle notebook, but I'm getting this import error. It's python 3.7.

Any suggestions? Thanks!

[code]

[2021-03-03 02:34] kylegilde commented on #188
Here is a repex: https://www.kaggle.com/kylegilde/importing?scriptVersionId=55669960

[2021-03-03 11:37] mariesosa opened #189 "[bug] TuneSearch not working for sklearn cv split based on groups with early_stopping"
# Describe the bug
`TuneSearch` raise a `ValueError: The 'groups' parameter should not be None.` with sklearn cv split based on groups (like GroupKFold) when arguments `max_iters` and `early_stopping` are specified. The behavior is the same for hyperopt and random search algorithms.

# Steps/Code to Reproduce

[code]

# Expected Results
No error is thrown.

# Actual Results
[code]

# Versions

hyp

[2021-03-04 10:50] mariesosa opened #190 "[bug] Random search algorithm perform only 1 trial regardless of the actual n_trials value given to TuneSearchCV"
# Describe the bug

The random search algorithm perform only one trial regardless of the actual `n_trials` value given to `TuneSearchCV`.

# Steps/Code to Reproduce

[code]

# Expected Results

n_trials = 4

# Actual Results

n_trials = 1

# Versions

numpy==1.18.4
ray==1.2.0
scikit-learn==0.24.1
tune_sklearn==0.2.1

[2021-03-04 11:54] Yard1 commented on #190
I believe this was fixed on master already. Could you install the development version with `pip install -U git+https://github.com/ray-project/tune-sklearn.git` and try again?

[2021-03-04 12:20] mariesosa commented on #190
Indeed it works, and it was probably fixed by pull-request #180.

[2021-03-04 13:59] #190 closed

[2021-03-04 23:26] richardliaw commented on #188
hey @kylegilde what version of Ray are you on? Can you make sure to upgrade to Ray 1.2?

[2021-03-04 23:36] richardliaw commented on #189
Seems like a scikit-learn issue? https://github.com/scikit-learn/scikit-learn/issues/12516

[2021-03-04 23:39] richardliaw commented on #189
Looks like we have to fix our implementation...

[2021-03-04 23:44] kylegilde commented on #188
That did the trick. Thanks

[2021-03-04 23:44] #188 closed

[2021-03-05 03:00] richardliaw commented on #189
@mariesosa OK I just opened a fix! Let me know if that works for you (#191 )

[2021-03-05 08:58] #189 closed

[2021-03-05 11:10] mariesosa commented on #189
I tested it with various group split functions and it seems to work fine. Thanks.

[2021-03-09 10:06] Matgrb opened #193 "TuneBaseSearchCV to extend BaseSearchCV from sklearn"
Currently, the TuneBaseSearchCV inherits from BaseEstimator from sklearn, however, I suppose it should extend BaseSearchCV, in order to be fully consistent with the sklearn API. Thanks to this one can detect, whether this object is in fact an optimization search schema, or a classifier.

[2021-03-09 12:13] Yard1 commented on #193
Will be covered by https://github.com/ray-project/tune-sklearn/pull/192

[2021-03-11 12:29] timvink opened #194 "Remove `.travis.yml`"
_Originally posted by @Yard1 in https://github.com/ray-project/tune-sklearn/issues/192#issuecomment-793628480_

I like green tickmarks :) Happy to provide a small PR? ;)

[2021-03-12 02:22] #193 closed

[2021-03-12 02:24] richardliaw commented on #194
hmm OK i guess that's fine -- push a PR :) ?

[2021-03-12 03:52] abheesht17 opened #195 "TuneSearchCV not Working [tune]"
### What is the problem?
Consider this piece of code:
[code]
This has been obtained from the [docs](https://docs.ray.io/en/master/tune/tutorials/tune-sklearn.html#using-bayesian-optimization).
I am running the code on Colab. I have reproduced the error on the following link:
https://colab.research.google.com/drive/1z2vpBE7HTS6Iq2G_h9MQWIL_Aw8pKzaT?usp=sharing

- [x] I have verified my script runs

[2021-03-12 04:13] richardliaw commented on #195
This just requires a better error message on our side. Please run `pip install tune_sklearn`.

[2021-03-12 04:19] abheesht17 commented on #195
Thank you for the swift reply! It works now.

[2021-03-12 08:08] #195 closed

[2021-03-12 09:57] krfricke commented on #186
So this issue comes up because the `self.estimators_` of the `RandomForestClassifier()` only gets set when `fit()` is called.

However, during search space initialization, HyperOpt calls `len(param)`:

[code]

and this does not raise a `TypeError`, but rather an `AttributeError`, because `len(RandomForestClassifier())` returns the number of estimators (decision trees), which are not initialized, y

[2021-03-12 20:58] #194 closed

[2021-03-13 09:46] #186 closed

[2021-04-18 21:00] qo4on opened #201 "Tensorboard results do not show"
Why can't I see `n_estimators` values?
[code]
![image](https://user-images.githubusercontent.com/35609308/115160629-a357df80-a0b2-11eb-867d-69b5fc0c996e.png)

![image](https://user-images.githubusercontent.com/35609308/115160491-df3e7500-a0b1-11eb-9644-7444fdd8cc8e.png)

[2021-04-19 16:35] akzaidi opened #202 "Trouble running TuneSearchCV with hydra and skorch"
Hi,

Thanks for all the hard work with library and the broader ray ecosystem!

I have been trying to add tune-sklearn to a generic class for tuning in a [script](https://github.com/microsoft/datadrivenmodel/blob/alizaidi/sweepers/torch_models.py#L134). However, I'm hitting the following error when trying to use `TuneSearchCV`. The scripts utilize hydra for configuration management, and here's the

[2021-04-21 06:52] akzaidi commented on #202
Resolved! The issue is how hydra handles output directories.

[2021-04-21 06:52] #202 closed

[2021-04-22 14:19] bohniti commented on #201
### Hi, maybe our errors are related. I can't see any results in the Tensorbaord if use search optimization:

![image](https://user-images.githubusercontent.com/47079879/115728369-c0c3cc80-a384-11eb-9d80-4586cb8258d4.png)

![image](https://user-images.githubusercontent.com/47079879/115728481-d507c980-a384-11eb-8e47-25efa7278afd.png)

However, if I don't use search optimization everything works qui

[2021-04-25 20:59] qo4on opened #203 "Does HEBOSearch work in tune-sklearn?"
Setting `search_optimization=HEBOSearch()` returns an error in [your example](https://github.com/ray-project/tune-sklearn/blob/7f4b33b9fbfb5429898701282ec6feff4165ae39/examples/discrete_hyperopt.py).

[2021-04-25 22:04] Yard1 commented on #203
There's only support for some searchers built into tune-sklearn - I've got a PR (https://github.com/ray-project/tune-sklearn/pull/198) to allow it to use any searcher in Ray but there are some design issues that need to be resolved.

[2021-04-26 09:24] #203 closed

[2021-04-26 18:32] einarG-1qbit opened #204 "WARNING Trial Runner checkpointing failed: cannot pickle 'dict_values' object"
I'm training a custom sklearn model with tune-sklearn and skopt Bayesian.
All works fine, except that in my logs I get the warning:
`WARNING Trial Runner checkpointing failed: cannot pickle 'dict_values' object`
No other info is provided, just the warning. How do I fix this issue?

I use:
tune-sklearn                  0.2.1
ray                                  1.2.0
sklearn

[2021-04-26 20:10] Yard1 commented on #204
Does it happen with a different search algo?

[2021-04-27 00:20] richardliaw commented on #204
I think checkpoint/restore may not work directly with tune-sklearn. However, I would try:

tune-sklearn (latest master, so clone off of github)
pip install ray ==1.3

[2021-04-27 00:42] einarG-1qbit commented on #204
thanks for the quick reply.
I just tried `TuneSearchCV` without the parameter `search_optimization` (default random search)
And there weren't any warnings.

[2021-04-29 09:08] bohniti opened #205 "Support `name` (Ray Tune kwarg)"
Dear all,

I get the following _exception_ if I try to use the keyword _name_ within a function call of TuneSearchCV:

![image](https://user-images.githubusercontent.com/47079879/116526213-a5534700-a8d9-11eb-9ec1-ecebed879a2c.png)
I currently run the _latest version_ of ray, _sklearn_, and optune, and my function call looks as follows:

![image](https://user-images.githubusercontent.com/47079879/1

[2021-04-29 11:56] bohniti commented on #205
Sorry, wrong headline. The headline was attended to be in stackoverflow.

[2021-04-29 18:50] richardliaw commented on #205
Hmm, why are you trying to specify `name`?

[2021-04-29 21:47] richardliaw commented on #187
Fixed with #198

[2021-04-29 21:47] #187 closed

[2021-05-03 07:33] bohniti commented on #205
I can think of many reasons. Right now, to get the results in a dashboard without specifying the results folder any time. Later, in production, this isn't necessary anymore. Hence, maybe not a high priority but still, since it is a variable, it shall be useable, right? :)

[2021-05-13 12:53] qo4on opened #207 "Duplicated trials"
I run your [HEBO custom example](https://github.com/ray-project/tune-sklearn/blob/master/examples/custom_searcher_example.py) and see that it runs the same trials multiple times. Can I skip them and finish when there are no unique hp configurations left?
Setting `cv=5` I expected to see 5 test scores for each trial, but it shows only 3 of them: `split0_test_score, split1_test_score, split2_test_sc

[2021-05-13 13:16] Yard1 commented on #207
How duplicate trials are handled depends on the search algorithm itself, and it looks like HEBO doesn't account for those.

[2021-05-13 13:38] qo4on commented on #207
So, we can fix that by sending existing results to HEBO without additional training.
Where are the test score results for remaining `split3_test_score` and `split4_test_score`?

[2021-05-13 13:43] Yard1 commented on #207
Isn't it just due to Pandas trying to fit the dataframe on screen?
`tune_search.cv_results_` will return that dataframe, so you can manipulate it, or check what columns are there with `tune_search.cv_results_.columns`

[2021-05-13 14:22] qo4on commented on #207
Thank you, it works.

Don't you think it would be good to skip all duplicates for all searchers by default? I think it's a big problem when you think you tune hp's but in fact you're training the same over and over again.

[2021-05-13 14:44] Yard1 commented on #207
It's not a straightforward thing, as those should be ideally handled by the search algorithm itself. For example, if we were to reject duplicates from a search algorithm that doesn't check for them, it is possible for the situation to become an infinite loop where the tuner rejects the duplicate suggestion only for the algorithm to suggest it again, as this is what it considers to be the best conf

[2021-05-13 19:11] Miladiouss commented on #169
I still have this issue. pip install -U ray says ERROR: No matching distribution found for ray

[2021-05-13 19:16] richardliaw commented on #169
What version of pip are you using @Miladiouss ?

[2021-05-13 19:29] Miladiouss commented on #169
@richardliaw
[code]

[2021-05-13 19:55] Miladiouss commented on #169
Btw, I'm using Ubuntu 20.

[2021-05-13 19:59] lindu2770 commented on #169
same error here
pip 21.1.1
Python 3.8.8

[2021-05-13 20:40] richardliaw commented on #169
@Miladiouss I'll just keep this open - we don't have 3.9 support for Ray yet.

@lindu2770 not sure why you're seeing this error...

[2021-05-13 20:41] Miladiouss commented on #169
Thanks @richardliaw, for reference for others, I had to go to Python 3.7 to install ray.

[2021-05-14 00:11] richardliaw commented on #207
Hmm, so yeah this seems to be a common request.

We've actually implemented something similar in Bayesopt (see ray/python/ray/tune/suggest/bayesopt.py).

[2021-05-14 08:15] qo4on commented on #207
Besides HEBO counts duplicates as newly tested parameters and throws an error when it reaches all possible combinations count. This leads to the fact that not all parameters are tested.
https://github.com/huawei-noah/noah-research/issues/28

[2021-05-16 19:48] qo4on commented on #207
@richardliaw
Which `search_optimization` don't have such issue except Bayesopt?

[2021-05-18 07:58] richardliaw commented on #205
This should be supported in latest release actually.

[2021-05-18 07:58] #205 closed

[2021-05-25 07:18] arainboldt opened #208 "TuneSearchCV -> TypeError: 'NoneType' object is not callable"
Trying out a simple example using TuneSearchCV with LGBMClassifier and it fails on start.

Environment:

Python 3.8.3
tune-sklearn 0.3.0
ray 1.3.0
macos mojave 10.14.6

Code:

[code]

Traceback:

[code]

[2021-05-25 07:25] arainboldt commented on #208
Seems that others are having the issue as well. I found this kaggle kernel while searching for the error.

[https://www.kaggle.com/sivasaiyadav8143/10-hyperparameter-optimization-frameworks](url)

[2021-05-25 10:46] Yard1 commented on #208
That import doesn't look right. Can you try `from tune_sklearn import TuneSearchCV` instead of `from ray.tune.sklearn import TuneSearchCV`?

[2021-05-25 10:48] Yard1 commented on #70
@arainboldt Thanks for the report, this will be fixed. In the meantime, can you pass a dictionary of Ray Tune hyperparameters?

[2021-05-25 22:26] SC12138 commented on #208
I met the same issue. And `from tune_sklearn import TuneSearchCV` returns as follow:

`>>> from tune_sklearn import TuneSearchCV
Traceback (most recent call last):
  File "<stdin>", line 1, in <module>
  File "/home/ubuntu/.local/lib/python3.8/site-packages/tune_sklearn/__init__.py", line 2, in <module>
    from tune_sklearn.tune_search import TuneSearchCV
  File "/home/ubuntu/.local/lib/python3.8

[2021-06-02 14:58] kjans123 opened #210 "FileNotFoundError on Windows"
Script:
[code]

Trace:
[code]

Running this with Spyder in a miniconda environment on Windows. I'm not sure what file is not being found?

[2021-06-02 17:47] kjans123 commented on #210
Ran the code on my WSL2 (Windows Subsystem for Linux) . Ran fine.
Started a new conda environment on Windows. Got the same error.

[2021-06-03 22:51] richardliaw commented on #210
Hmmm, it seems like somehow subprocess doesn't work in Spyder?

[2021-06-04 17:02] kjans123 commented on #210
I'm not sure? That could be the case, but not savvy enough to troubleshoot that.

[2021-06-04 19:33] Yard1 opened #211 "[feature request] Support `resume` (and potentially other `tune.run` args)"
From: https://discuss.ray.io/t/tunesearchcv-resume/2414

I think we could just have a `tune_run_kwargs` argument somewhere, probably in `fit` that would allow the user to pass any parameter they want to `tune.run`, including `resume`.

[2021-06-11 13:18] #210 closed

[2021-06-17 08:38] #211 closed

[2021-06-17 08:38] richardliaw commented on #208
Hmm, seems like we need to provide a better error message on the Tune side.

[2021-06-20 04:34] sungreong opened #213 "The hyperopt search algorithm fails with a custom_grid."
pycaret version  : 2.3.1

I want to use a variety of tune methods when using hyperopt in pycaret, but only tune.choice is possible, not others.
I hope you check and improve!

[code]

so i check your code

[code]

in now status, pycaret only support "tune.choice"

And it seems only available if a certain range is set.
[code]
So this problem can only be done by setting a certain range with any algor

[2021-06-20 06:47] Yard1 commented on #213
Hey @sungreong this is a PyCaret issue, not a tune-sklearn one. When using PyCaret, you should use PyCaret distributions (`from pycaret.distributions import *`) instead of tune ones.

[2021-06-20 07:01] sungreong commented on #213
Thanks you for your reply.
I know it is not tune-sklearn issue.
This is pycaret issue.
But i follow pycaret docs
In the document, they mention like this.

custom_grid: dictionary, default = None
To define custom search space for hyperparameters, pass a dictionary with parameter name and values to be iterated. Custom grids must be in a format supported by the defined search_library.

https://pycare

[2021-06-20 07:24] Yard1 commented on #213
You will want to do something like this:
[code]

[2021-06-20 23:14] sungreong commented on #213
Thanks it works !

[2021-06-20 23:14] #213 closed

[2021-09-15 13:52] sadia opened #218 "TuneSearchCV not using Colab GPU"
When I check my usage metrics in Colab while TuneSearchCV is running, it says 0.0GB of GPU used.
[code]
My model has been running with the above configurations, but GPU usage is showing 0.0GB

![image](https://user-images.githubusercontent.com/26784130/133445891-67a7c5ac-10a2-43e4-8867-74e411e03bcf.png)

[2021-09-23 21:27] RNarayan73 opened #221 "ValueError: Tune-sklearn no longer supports nested parallelism with new versions of joblib/sklearn. Don't set 'sk_n_jobs'."
Hello,

I'm trying to use TuneSearchCV in a pipeline nested within the cross_validate function. As per sklearn's [recommendation](https://scikit-learn.org/stable/auto_examples/model_selection/plot_nested_cross_validation_iris.html#sphx-glr-auto-examples-model-selection-plot-nested-cross-validation-iris-py) this will enable a more robust evaluation of the generalisation error. Note, this isn't a cr

[2021-09-23 22:09] Yard1 commented on #221
Are you using the latest release of tune-sklearn (0.4.1)?

[2021-09-23 22:29] RNarayan73 commented on #221
Yes, on 0.4.1
Here's the code:
`hpt_pipe = TuneSearchCV(pipe,
                                param_distributions=get_params_space(algo, hpt),
                                cv=cv_skf,   # cv object
                                scoring=score_metrics,    # dict with scoring metrics
                                refit=eval_metric,
                                name=hpt + '-' + run,

[2021-09-23 22:38] Yard1 commented on #221
Is it possible that `sk_n_jobs` is somehow passed through kwargs?

[2021-09-23 22:48] RNarayan73 commented on #221
Unlikely,
Here's the call to a helper function get_pipe that returns a pipeline for an algorithm and HP tuning (*SearchCV) method within which contains the above code.
`tune_pipe, _ = get_pipe(algo=ALGO, hpt=HPT, val=VAL, score_metrics=score_metrics, eval_metric=eval_metric,
                        mem=mem, run=RUN, persist=PERSIST, search_optimization=search, early_stopping=early) #TUNE_SEARCH[se

[2021-09-23 23:15] Yard1 commented on #221
`'sk_n_jobs': 1,` is there. Can you remove it?

[2021-09-24 01:43] yunhao2742 opened #222 "The code you provided will not run directly"
"""Example using an sklearn Pipeline with TuneGridSearchCV.
Example taken and modified from
https://scikit-learn.org/stable/auto_examples/compose/
plot_compare_reduction.html
"""
from tune_sklearn import TuneSearchCV
from tune_sklearn import TuneGridSearchCV
from sklearn.datasets import load_digits
from sklearn.pipeline import Pipeline
from sklearn.svm import LinearSVC
from sklearn.decomposition i

[2021-09-24 06:49] kienerj opened #223 "TuneSearchCV and a Pipeline with feature selection"
I have scikit-learn pipeline I want to use for parameter optimization:

[code]
xgb = and xgboost classifier.

When I run this code I get an error:

    Check failed: learner_model_param_.num_feature == p_fmat->Info().num_col_ (7 vs. 8) : Number of columns does not match number of features in booster.

Without the pipeline, just the model, it works fine.

It is clear that the pipeline may return a

[2021-09-24 08:31] RNarayan73 commented on #221
No, I can't.
It seems the sk_n_jobs default value of 'None' is being translated as 1 during initialisation, even though I don't explicitly assign it any value. Notice it is commented out when initialising TuneSearchCV. The error comes up when I try to run cross_validate.
If I try to explicitly set it to 1, then the error occurs earlier, when initialising TuneSearchCV.

[2021-09-24 08:53] Yard1 commented on #223
What arguments are you running TuneSearchCV with?

[2021-09-24 09:00] kienerj commented on #223
[code]
scorer in this case is just "accuracy".

And the parameters are:

[code]

[2021-09-24 14:04] Yard1 commented on #221
Could you install `pip install git+https://github.com/Yard1/tune-sklearn.git@fix_sk_n_jobs` and try again?

[2021-09-24 14:08] Yard1 commented on #223
Does it work with early stopping set to False?

[2021-09-24 17:45] RNarayan73 commented on #221
Good!
That resolved the sk_n_jobs issue.

However, now I get another error:
RuntimeError: Cannot clone object TuneSearchCV(cv=StratifiedKFold(n_splits=5, random_state=0, shuffle=True),
             early_stopping=False,
             estimator=Pipeline(steps=[('enc',
                                        ColumnTransformer(sparse_threshold=0,

[2021-09-24 19:03] Yard1 commented on #221
I will look into it, thanks! This issue is fine

[2021-09-27 08:12] kienerj commented on #223
Actually now it also works with same settings as above. Of course due to restart and everything the internal CV split will be different which in my opinion is the cause for the issue. Right now I can't reproduce the issue even with early_stopping=True.

[2021-09-27 08:22] Yard1 commented on #223
Can you set random seeds to some constant value?

[2021-09-28 06:44] kienerj commented on #223
I can but seems like a chicken egg problem, First I need a seed that triggers the issue.

[2021-09-28 07:41] RNarayan73 commented on #221
Thank you very much, @Yard1. I look forward to your fix.

Narayan

[2021-10-10 22:23] Yard1 commented on #221
Sorry, I have been occupied with other matters. I'll get back to tune-sklearn issues this week. Will keep you updated!

[2021-10-14 11:33] RNarayan73 commented on #221
Hi @Yard1
I tried this new version and the same error persists:
"RuntimeError: Cannot clone object TuneSearchCV(...), as the constructor either does not set or modifies parameter loggers"
Narayan

[2021-10-14 20:58] RNarayan73 commented on #221
That worked! Well done, @Yard1
Are you intending to include this in the next release?
Thanks
Narayan

[2021-10-14 21:23] RNarayan73 opened #226 "Errors with Optuna search space and bohb search spaces"
Hello,

When running TuneSearchCV with the optuna search_optimization, it throws up the error below. Similar errors occur when I use the tune search apis- tune.randint, tune.uniform, tune.loguniform.
"RuntimeError: Unknown Optuna search space: <ray.tune.sample.Integer object at 0x00000211AECCD220>"

This may be a recent development, because I was previously able to run the optuna version search fi

[2021-10-17 12:22] Yard1 commented on #226
@RNarayan73 Would it be possible for you to provide code to reproduce?

[2021-10-17 21:59] #226 closed, assigned to Yard1

[2021-10-18 10:30] Yard1 commented on #221
Will look into it, thanks!

[2021-10-21 11:07] Yard1 commented on #221
There is an environment variable responsible for the directory name length, `TUNE_MAX_LEN_IDENTIFIER`. By default it is set to 130, but the entire path may be too long. Can you set that env var to a smaller number and see if that helps?

[2021-11-01 22:29] richardliaw commented on #218
Yeah, TuneSearchCV will not automatically convert your model to run on GPU. Though that would be nice, I think you need to actually use RAPIDS/CuML.

[2021-11-03 07:58] sadia commented on #218
Thanks @richardliaw. So does the `use_gpu = True` parameter only work on personal devices?

[2021-11-03 09:14] Yard1 commented on #218
It only works if the model that you are trying to tune actually uses GPUs

[2021-11-04 19:11] RNarayan73 opened #227 "ValueError: list of dictionaries for parameters is not supported for non-random search"
Hello,
I am trying to pass a list of dictionaries to param_distributions in TuneSearchCV, but get the error:

I've passed a list of dicts to the underlying search algorithm BayesSearchCV, but haven't tested it with the others and it works fine. Can list of dicts be enabled in general?

Thanks
Narayan

[2021-11-14 23:47] sadia commented on #218
Closing due to code working as expected

[2021-11-14 23:47] #218 closed

[2021-11-15 13:31] RNarayan73 commented on #221
@Yard1
That's fine. Let me know if you have an update? I'd be happy to help with testing it.
Regards
Narayan

[2021-11-15 16:04] Yard1 commented on #221
Hey, sorry for delay. I am hoping to take a look at this this week.

[2021-11-21 00:45] Eeonum opened #228 "gpu usage"
Hi I am getting this error when I set use_gpu=True.

(scheduler +6s) Tip: use `ray status` to view detailed cluster status. To disable these messages, set RAY_SCHEDULER_EVENTS=0.
(scheduler +6s) Error: No available node types can fulfill resource request {'CPU': 1.0, 'GPU': 1.0}. Add suitable node types to this cluster to resolve this issue.
(scheduler +41s) Error: No available node types can fulf

[2021-11-21 02:30] Eeonum commented on #228
was trying to run the following script:

`"""
An example training a CatBoostClassifier, performing
randomized search using TuneSearchCV.
"""

from tune_sklearn import TuneSearchCV
from sklearn import datasets
from sklearn.model_selection import train_test_split
from catboost import CatBoostClassifier

digits = datasets.load_digits()
x = digits.data
y = digits.target
x_train, x_test, y_train, y_tes

[2021-11-25 16:34] Yard1 commented on #221
@RNarayan73 Sorry for taking so long. I have opened a PR to fix this. You can test it by `pip uninstall -y tune-sklearn && pip install -U git+https://github.com/Yard1/tune-sklearn.git@fix_early_stopping_cloning`

[2021-11-29 12:15] yonil7 opened #230 "error when using multimetric scoring with refit=False"
https://github.com/ray-project/tune-sklearn/blob/1c6909223b2e892e97a07151f14d19b80bbffad4/tune_sklearn/tune_basesearch.py#L486
[code]

This code should check that `self.refit` is not set to `False` before raising an error

[2021-12-02 09:28] #221 closed

[2021-12-08 15:08] RNarayan73 commented on #221
@Yard1
Thanks for the udpate. I'm getting back in after a break.

I saw #229 and noted that `fix_early_stopping_cloning ` has been deleted and merged into `ray-project:master`

So, I'm guessing that the install command is now `pip uninstall -y tune-sklearn && pip install -U git+https://github.com/ray-project/tune-sklearn.git@master`

Regards
Narayan

[2021-12-08 17:05] Yard1 commented on #221
Yes, that would be it :) @RNarayan73

[2022-01-10 07:02] ICESDHR opened #232 "GridSearchCV, RandomizedSearchCV don't support big dataset train?"
GridSearchCV and RandomizedSearchCV work well when dataset is small, but it's broken down when dataset is large.

I read GridSearchCV implementation. In _fit() function, you put dataset to Ray Object Store, but ray.put() function use grpc to transform data, grpc protobuf doesn't support data greater than 2GB. Is that right?

[code]

I ask this question because I want to know whether you know this

[2022-01-10 13:23] Yard1 commented on #232
`ray.put` should support objects bigger than 2 GB. Are you sure you are not simply running out of memory? What sort of errors are you getting?

[2022-01-11 01:53] ICESDHR commented on #232
my ray cluster work node hava 20GB memory, i ask question in ray project too, they advised me not to use PUT to transfer big data :(

[code]

[2022-01-22 20:00] richardliaw commented on #232
Are you using Kubernetes / ray client @ICESDHR ?

[2022-02-24 08:43] ICESDHR commented on #232
yeah, i use [kubernets ray operator](https://github.com/ray-project/ray/tree/master/deploy/components) here.follow these step:
1. deploy [raycluster crd](https://github.com/ray-project/ray/blob/master/deploy/charts/ray/crds/cluster_crd.yaml),
2. deploy operator,
3. create a raycluster which contain one head and three worker,
4. create a kubernetes job, in this job i connet to raycluster and succes

[2022-02-24 16:18] Yard1 commented on #232
Ok, I can see this being a problem. Would it be possible for you to load the data from S3/NFS/disk on the nodes? If yes, we could add support for that. How does that sound?

[2022-02-25 03:24] ICESDHR commented on #232
thanks for your reply! It would be nice if official support could be provided. How soon will this patch be released?

[2022-02-25 03:25] ICESDHR commented on #232
after load big dataset, i face another two problems:
1. use this method, if one node run many trials, it will load multiple copies of data into memory repeatedly, cause memory waste;
2. In my practice, with sufficient resources, after load big dataset from disk, training process will trigger problems as shown in the figure. i change ray/tune/ray_trial_executor.py `DEFAULT_GET_TIMEOUT` 60 -> 300，it

[2022-02-25 10:50] Yard1 commented on #232
It's not possible right now, but with the proposed changes, you should be able to use Ray Datasets, which should solve both the 2GB issue and ensure a minimum amount of copying required. Will keep you updated.

[2022-03-08 02:20] nopanderer opened #234 "[BUG] ray:IDLE processes persist even after client.disconnect()"
* Ray Version: 1.9.2
* tune-sklearn version: 0.4.1

I tried to run the example code below using ray cluster.

[code]

Even after I disconnected the client, there are ray:IDLE processes in the ray head node. I tried other examples the Ray Core and Ray Tune and this issue not happened.

[2022-03-08 16:59] Yard1 commented on #234
Can you update Ray to the latest version and try again?

[2022-03-10 02:18] nopanderer commented on #234
Thanks, Yard1.
I upgraded Ray to 1.10.0 and tried again, but still happens. When I run `ray memory`, the processes below persist.

[code]

[2022-03-10 18:34] Yard1 commented on #234
Ok, I'll take a look. Thanks!

[2022-03-11 10:28] umutcakan opened #235 "[BUG] Verbose=0 does not work, when n_jobs is set to 1."
Normally, verbose=0 works with n_jobs=-1 (default), but it is not working when n_jobs is set to 1. Outputs everything on the console. When n_jobs is > 1, it works as intended.

[2022-03-14 22:05] Yard1 commented on #230
This is intended, `refit` is required to specify which metric should be optimized for.

[2022-03-14 22:05] #230 closed

[2022-03-25 13:52] umutcakan commented on #235
Problem resolved models need to be also verbose in their own parameters.

[2022-03-25 13:52] #235 closed

[2022-04-04 17:54] Yard1 opened #239 "Move `loggers` (deprecated in Tune) to `callbacks`"

[2022-04-04 18:04] Yard1 commented on #234
Hey @nopanderer this should be fixed in https://github.com/ray-project/tune-sklearn/releases/tag/v0.4.2, please let me know if the problem persists after update or not.

[2022-04-05 09:37] nopanderer commented on #234
@Yard1 I'll check it out. Thanks a lot!

[2022-04-21 18:32] #239 closed

[2022-05-14 12:08] LasithEranga commented on #169
Thanks @Miladiouss Python 3.7 worked for me as well.

[2022-05-24 08:47] koaning commented on #169
When I go to https://pypi.org/project/ray/#history then I see the following versions supported:

<img width="288" alt="image" src="https://user-images.githubusercontent.com/1019791/169990286-9a1e9f97-40bc-456e-9205-79f561f6a1d7.png">

If 3.9 is not supported yet, maybe the version mentioned should be removed.

[2022-06-07 12:14] hannahbus commented on #169
I encountered the same issue with Python 3.10, which is supported by Ray 1.12.1 according to the setup.py. The error was
_ERROR: Could not find a version that satisfies the requirement ray (from versions: none)
ERROR: No matching distribution found for ray_

[2022-06-15 11:47] umutcakan opened #244 "[Question] Logging ray errors"
Hello,

I observed there is a CLI logger that outputs information regarding trial processes, even if worker dies before it even starts it gives some information regarding to that. In my case, I want to use a logger to see logs in a separate place, so I tried to create one class that inherits from ray.tune.logger.loggerCallback, and sent it as an argument to 'loggers' parameters and can use differe

[2022-06-15 12:23] Yard1 commented on #244
Do you have an example of the messages you would want to log?

[2022-06-15 14:00] umutcakan commented on #244
Hey again,

Unfortunately, I could not replicate the error I was getting before, one of the errors was "Worker died unexpectedly while executing this task." Right now I can manage to make it work on local runs, but there is a problem when it is deployed and basically I want to see the problem in the remote server to debug the problem or understand if it is related to ray workers

[2022-06-16 19:47] RNarayan73 opened #245 "ValueError: list of dictionaries for parameters is not supported for non-random search"
Hello,
I am trying to assign a parameter search space to param_distributions that is a list of distinct search spaces.
This is to enable me to search through multiple dimension reduction and feature selection algorithms and also search for optimal parameters for them.
As a trivial example, if I would like to use a pipeline with a structure like this:
`Pipeline[
encode,
dim_red,
classify]
'
where d

[2022-06-16 19:51] Yard1 commented on #245
Hey @RNarayan73, this docs page should help - https://docs.ray.io/en/latest/tune/tutorials/tune-search-spaces.html#tune-custom-search. Let me know if you have any more questions :)

[2022-06-16 21:08] RNarayan73 commented on #245
Thanks for the steer @Yard1.
So far, all my code has been entirely SKLearn compatible which allows me to reuse the same workflows for various HP search techniques such as BayesSearchCV, TuneSearchCV, OptunaSearchCV, EvolutionarySearchCV etc. with minimal rework.
If I went down the route suggested in the help doc, and coded for the Ray Tune API, could it be used with TuneSearchCV in SKLearn as well

[2022-06-17 22:49] felipemonroy opened #246 "[BUG] TuneBaseSearchCV: Multiple scores as dictionary"
Hi everyone,

I am having issues when using TuneSearch CV and a dictionary of scores. The dictionary is the following:

[code]

The problem is in the method *_format_results* of the *TuneBaseSearchCV* class. Specifically, when creating the *test_scores* and *train_scores* dictionaries. Here are the lines:

[code]

So, when doing `if "split" in col and "test_%s" % name in col` for the score *kappa*

[2022-06-21 12:41] umutcakan commented on #244
Thank you, I will look into that!

[2022-06-21 12:41] #244 closed

[2022-06-21 12:48] umutcakan opened #247 "[Question] Manually setting resources_per_trial parameter"
Is there a way to set 'resources_per_trial' by sending parameter to tuning object or setting environment variable? Currently, when it is run with n_jobs=1, it sets cpu fraction to 2. But cluster only has 1, and it throws the following warning/error and does not work.

[code]

So with my understanding when n_jobs is set to > 0, it looks for available cpu's and gets fractions of them and ceils them

[2022-06-23 03:07] deifactor commented on #169
I *suspect* this is because ray doesn't publish sdists, only wheels, and everyone getting bitten by this is running ARM64 Linux, which Ray doesn't publish any wheels for.

[2022-07-09 22:21] risboo6909 commented on #169
@deifactor Thanks for the hint! Had the similar issue, fixed it by switching from aarch64 to amd64.

[2022-07-12 10:51] 66Gramms commented on #169
This is still a problem on windows 10 on python 3.10

[2022-07-18 09:50] umutcakan commented on #247
That helped a lot, thanks!

[2022-07-18 09:50] #247 closed

[2022-08-13 02:12] ssiegel95 opened #248 "TuneSearchCV not correctly handling error_score parameter"
Running random search using vanilla `RandomizedSearchCV` and then the equivalent operation using tune_sklearn. In the first case, the incorrect parameter combination is gracefully handled by sklearn via the `error_score` parameter being set to `int|float` as documented. However, when running the equivalent search using `TuneSearchCV` the entire job fails before completion.

[code]

[2022-08-23 12:35] skabbit commented on #234
Got the same issue on v0.4.3.
After running TuneGridSearchCV head has multiple processes with IDLE status.
Is there any option to kill these processes from Python?

[2022-09-06 08:39] Goicu opened #249 "Save TuneSearchCV object with tensorflow and keras models"
I try with pickle, joblib and dill.

With pickle I had this error:
`AttributeError: Can't pickle local object 'MaximumIterationStopper.__init__.<locals>.<lambda>'`

With joblib I had this error:
`raise PicklingError(_pickle.PicklingError: Can't pickle <function MaximumIterationStopper.__init__.<locals>.<lambda> at 0x7f3093158790>: it's not found as ray.tune.stopper.MaximumIterationStopper.__init__

[2022-09-06 14:43] Yard1 commented on #249
Thanks. As a workaround, can you try with cloudpickle?

[2022-09-06 22:52] Goicu commented on #249
Thanks for the tip Yard1. But still don't work.

With cloudpickle:
[code]

Error:
`AttributeError: Can't pickle local object 'MaximumIterationStopper.__init__.<locals>.<lambda>'`

-------------------------------------------------------------------------------------------------------------------------------------------------------------------------

[code]

Error:
`TypeError: cannot pickle 'weakref

[2022-09-06 23:02] Yard1 commented on #249
Why do you need to save the TuneSearchCV object in the first place? What's the use case? Doesn't the model by itself suffice?

[2022-09-07 07:51] Goicu commented on #249
You are complete right. Actually what I want is to save the refit trained model. But I do not know how either.

[2022-09-07 09:53] Yard1 commented on #249
You can obtain the best model by calling `TuneSearchCV.best_estimator_` after fitting had completed.

[2022-09-07 12:11] Goicu commented on #249
Thanks again Yard1.

With `TuneSearchCV.best_estimator_` I couldn't save it either because I am using a KerasClassifier estimator.

I understand the porpoise of the CV like it is said here:
https://stackoverflow.com/questions/55814197/kerasclassifier-object-has-no-attribute-save

But I suppose that the TuneSearchCV has the refit param for this porpoise and with this as I am in research and not in

[2022-09-07 14:24] Yard1 commented on #249
The refit param merely specifies that the best estimator will be returned in its trained form. However, using best_params_ and refitting the estimator yourself is also a solution.

[2022-10-17 16:45] AndreMPCosta commented on #169
Can you give the link for the wheels? I can't find those.

[2022-10-22 08:47] papelypluma commented on #228
hi @Eeonum by any chance I'd like to ask whether you were able to address this issue on your end. I'm trying to run a similar one, but I keep getting the same error. Thanks!

[2022-11-07 12:11] RNarayan73 opened #255 "Can't suppress warning messages through standard python methods"
Hello,

I am getting warning messages below even with verbose=0 or 1:

which I have tried to suppress using standard python approaches like:
[code]
Any suggestions on how to resolve this?

Regards
Narayan

[2022-11-08 14:22] RNarayan73 opened #257 "n_jobs doesn't seem to be taken into account by TuneSearchCV"
Hello,

I have passed a value equal to the physical cores on my computer = 14 to n_jobs when calling TuneSearchCV as against the total cpu_count of 20 which includes virtual cpus as per the parameters below (truncated for brevity):
[code]

However, it seems to ignore this and requests > 14 cpus when executing as shown below:

Has anyone come across this? Or am I doing something wrong?

Please let

[2022-11-08 14:39] RNarayan73 commented on #255
Thanks,
Does this mean that the verbose argument is irrelevant? I want warning messages to appear to know if something is wrong, but having acknowledged them, I would like to shut specific ones down.
Sounds like that can't be done with tune-sklearn as it stand?
Narayan

[2022-11-08 21:37] Yard1 commented on #255
The verbose argument concerns the verbosity of Tune's output. Unfortunately, I don't think there is an easy way of supressing warnings in Actors with tune-sklearn. Would you be interesting in contributing that feature? I am happy to offer guidance.

[2022-11-08 21:43] Yard1 commented on #257
Looking at the code, we are trying to maintain full cluster resource utilization by dividing the number of all CPUs in a cluster by n_jobs and using that as the number of CPUs to use. Honestly, we are probably trying to be too clever here, and this should be handled by a different system altogether. Will add that to the backlog.

As a workaround, try running `ray.init(num_cpus=14)` before initiali

[2022-11-11 00:11] RNarayan73 commented on #255
@Yard1 thanks for your reply.
I am not very familiar with the architecture of ray itself and am only using it due to tune-sklearn's api that allows me to use it instead of or alongside alternative hyperparameter search algorithms in my current project.
Appreciate you offer of guidance and when I do delve deeper into ray down the line, I'll be glad to take up your offer.

[2022-11-11 00:11] #255 closed

[2022-11-15 00:07] RNarayan73 commented on #257
Hi @Yard1

On further digging, I tried out the following scenarios and came across these observations

1) I realised that the status quo is actually worse than what I had described above. Not only does it request up to the max virtual cpus (20), it actually seems to utilise only a max of 1/2 the requested cpus at one time (I'm guessing it arbitrarily assumes that the physical cores are 1/2 the tot

[2022-11-16 04:36] eljur commented on #248
TuneGridSearchCV has the same problem:
https://discuss.ray.io/t/valueerror-with-tunegridsearchcv/4138/2

[2022-11-19 07:49] sergey-datadog commented on #248
Hi there, what's the status on this please?

[2022-11-23 15:38] j-f-r commented on #248
Bump

[2022-11-23 17:10] Yard1 commented on #248
Hey folks, I'll be taking a look at this today.

[2022-11-23 23:16] ssiegel95 commented on #248
For whatever it's worth, I was able to hack around this issue with the following

[code]